.elementor-menu {
	display: none;
	-webkit-flex: 0 1 100%;
	-ms-flex: 0 1 100%;
	flex: 0 1 100%;
	margin: 0;
	clear: both;
}

.elementor-menu.eltoggled-on,
.no-js .elementor-menu {
	display: block;
}

.elementor-navigation ul {
	list-style: none;
	margin: 0;
}

.elementor-navigation li {
	position: relative;
	display: block;
}

.elementor-navigation a {
	display: block;
	line-height: 1.3125;
	outline-offset: -1px;
	padding: 0.84375em 0;
}

.elementor-nav-menu a {
	color: #ffffff;
}

.elementor-navigation .current-menu-item > a,
.elementor-navigation .current-menu-ancestor > a {
	font-weight: 700;
}

.elementor-navigation ul ul {
	display: none;
}

.elementor-navigation ul li,
.elementor-navigation ul ul li {
	text-align: left;
}

.no-js .elementor-navigation ul ul {
	display: block;
}

.elementor-navigation ul .eltoggled-on {
	display: block;
}

.elementor-navigation .menu-item-has-children > a {
	margin-right: 56px;
}

.eldropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: #1a1a1a;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;
}

.eldropdown-toggle:after {
	border: 0 solid #d1d1d1;
	border-left-width: 1px;
	content: "\f107";
	font-family: FontAwesome;
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.eldropdown-toggle:focus {
	outline: thin dotted;
	outline-offset: -1px;
}

.eldropdown-toggle:focus:after {
	border-color: transparent;
}

.eldropdown-toggle.eltoggled-on:after {
	content: "\f106";
}

.elementor-menu-toggle {
	font-size: 14px;
	font-size: 1rem;
	margin: 1.076923077em 0;
	padding: 0.569230769em 0.769230769em;
	clear: both;
}

.elementor-menu-toggle {
	font-size: 24px;
	font-size: 1.5rem;
}

.no-js .elementor-menu-toggle {
	display: none;
}

.elementor-menu-toggle:focus {
	outline: 0;
}

.elementor-menu-toggle.eltoggled-on:focus {
	outline: thin dotted;
}

@media screen and (min-width: 48em) {
	.elementor-menu-toggle {
		font-size: 16px;
		font-size: 1.0rem;
		margin: 1.3125em 0;
		padding: 0.8125em 0.875em 0.6875em;
	}
}

@media screen and (min-width: 56.875em) {
	.elementor-menu {
		display: block;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
	}

	.elementor-navigation {
		margin: 0 -0.875em;
	}

	.elementor-navigation li {
		display: inline-block;
	}

	.elementor-navigation a {
		outline-offset: -8px;
		padding: 1em;
		white-space: nowrap;
	}

	.elementor-navigation ul ul {
		display: block;
		left: -999em;
		margin: 0;
		position: absolute;
		z-index: 99999;
	}

	.elementor-navigation ul ul ul {
		top: -1px;
	}

	.elementor-navigation ul ul ul:before,
	.elementor-navigation ul ul ul:after {
		border: 0;
	}

	.elementor-navigation ul ul a {
		white-space: normal;
		width: 12.6875em;
	}

	.elementor-navigation li:hover > ul,
	.elementor-navigation li.focus > ul {
		left: 0;
		right: auto;
	}

	.elementor-navigation ul ul li:hover > ul,
	.elementor-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}

	.elementor-navigation .menu-item-has-children > a {
		margin: 0;
		padding-right: 2.25em;
	}

	.elementor-navigation .menu-item-has-children > a:after {
		content: "\f107";
		font-family: FontAwesome;
		position: absolute;
		right: 0.625em;
		top: 1.25em;
	}

	.elementor-navigation ul ul .menu-item-has-children > a {
		padding-right: 2.0625em;
	}

	.elementor-navigation ul ul .menu-item-has-children > a:after {
		right: 0.5625em;
		top: 0.875em;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.elementor-align-left .elementor-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.elementor-align-left .elementor-navigation li:hover > ul,
	.elementor-align-left .elementor-navigation li.focus > ul {
		left: 0;
		right: auto;
	}

	.elementor-align-left .elementor-navigation ul ul li:hover > ul,
	.elementor-align-left .elementor-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}


	.elementor-align-right .elementor-navigation ul ul .menu-item-has-children > a:after {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.elementor-align-right .elementor-navigation li:hover > ul,
	.elementor-align-right .elementor-navigation li.focus > ul {
		left: auto;
		right: 0;
	}

	.elementor-align-right .elementor-navigation ul ul li:hover > ul,
	.elementor-align-right .elementor-navigation ul ul li.focus > ul {
		left: auto;
		right: 100%;
	}

	.eldropdown-toggle,
	.elementor-navigation ul .eldropdown-toggle.eltoggled-on,
	.elementor-menu-toggle {
		display: none;
	}
}

@media screen and (max-width: 56.874em) {
	.elementor-navigation a {
		padding-left: 1em;
	}
}

.elementor-search select,
.elementor-search textarea,
.elementor-search input,
.elementor-search button {
  max-width: 100%;
  min-height: 1.25rem;
  padding: .175rem;
  margin: 0;
  background-color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

.elementor-search input[type=submit],
.elementor-search input[type=button],
.elementor-search input[type=reset],
.elementor-search button {
  min-height: 2.25rem;
  border-radius: 0;
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
}
.elementor-search input[type=submit]:hover,
.elementor-search input[type=button]:hover,
.elementor-search input[type=reset]:hover,
.elementor-search button:hover {
  opacity: .75;
}

.elementor-search select {
  height: 2.25rem;
}

.elementor-search {
	width: calc(331px + 2rem);
	padding: 0.1rem 1rem 0.567rem;
	background-color: #ffffff;
	display: inline-block;
}

/**
 * Search
 */

.elementor-search .search {
  overflow: hidden;
}

.elementor-search .form {
  float: left;
  margin-right: 5px;
  margin-left: -305px;
}
.elementor-search .form input {
  float: left;
}
.elementor-search .form input.input {
  width: 300px;
  padding-right: 2.25rem;
}
.elementor-search .form input.btn {
  width: 2.25rem;
  margin-left: -2.25rem;
  background-color: transparent;
  color: inherit;
}
.elementor-search .label {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
.elementor-search .label,
.elementor-search .dismiss {
  float: left;
  padding: 10px 1px 0;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
}
.elementor-search .label:hover,
.elementor-search .dismiss:hover {
  opacity: 0.75;
}
.elementor-search .label i,
.elementor-search .dismiss i {
  line-height: 2.25rem;
}
.elementor-search .label span,
.elementor-search .dismiss span {
  line-height: 2.25rem;
}

.elementor-search .dismiss {
  display: none;
  opacity: 0;
}

/*
 * Overlay NavMenu
 */



#touch-menu {
  display: block;
  cursor: pointer;
  background: #000000;
  width: 61px;
  height: 52px;
  right: 20px;
  margin: 0;
  padding: 12px;
  position: absolute;
  top: 15px;
  z-index: 999;
  transition: none;
}
#touch-menu span:after,
#touch-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#touch-menu span:after {
  top: 9px;
}
#touch-menu span {
  position: relative;
  display: block;
  top: 12px;
}
#touch-menu span,
#touch-menu span:after,
#touch-menu span:before {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
#touch-menu.on,
#touch-menu.on span {
  background-color: transparent;
}
#touch-menu.on span {
  height: 0;
}
#touch-menu.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #fff;
}
#touch-menu.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  background-color: #fff;
}
.overlay-navigation {
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.8);
  display: none;
  font-size: 48px;
  line-height: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: auto;
  z-index: 10;
  -webkit-transition: background-color 2s ease-in, opacity 2s ease-in;
  transition: background-color 2s ease-in, opacity 2s ease-in;
}
.overlay-navigation.visible {
  display: block;
  -webkit-transition: background-color 2s ease-in, opacity 2s ease-in;
  transition: background-color 2s ease-in, opacity 2s ease-in;
}
.overlay-navigation > ul,
.overlay-navigation div > ul {
  display: block;
  list-style-type: none;
  margin: 70px auto;
  max-width: 800px;
  padding: 0 15px;
}
.overlay-navigation ul ul {
  display: block;
  margin: 0;
  padding: 0 0 0 20px;
  width: 100%;
}
.overlay-navigation ul li {
  background-color: transparent;
  border: none;
  display: block;
  padding: 10px 0;
}
.overlay-navigation a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
.overlay-navigation .sub-menu li {
  padding: 20px 0 0 0;
  font-size: 0.75em;
  line-height: 1em;
}
.overlay-navigation a:hover {
  text-decoration: underline;
}

@media only screen and (max-width : 767px) {
	#touch-menu{
		left: auto;
		right: 10px;
		margin: 0;
		top: 10px;
		position: absolute;
		padding: 6px 8px;
		height: 39px;
		width: 50px;
	}
	.overlay-navigation > ul,
	.overlay-navigation div > ul {
		margin: 30px auto;
	}
	.overlay-navigation {
		font-size: 24px;
	}
	.overlay-navigation ul li{
		padding: 8px 0;
	}
	.overlay-navigation .sub-menu li {
		padding: 15px 0 5px;
	}
}

/*
 * MegaMenu Styles
 */

/* Main menu wrapper */
.cbp-hsmenu-wrapper {
	position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
	background-color: #00275e;
	position: relative;
	z-index: 100;
}

.cbp-hsinner {
	font-weight: inherit;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 100%;
	max-width: 75em;
	margin: 0 auto;
	padding: 0 0.875em;
}

.cbp-hsmenu > li {
	margin-left: 4em;
	display: inline-block;
}

.cbp-hsmenu > li:first-child {
	margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: #ffffff;
	font-size: 1em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #f4f4f4;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.cbp-hsmenu > li > a:not(:only-child):before {
	display: inline-block;
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f107";
	font-size: 80%;
	margin-right: 0.3em;
	opacity: 0.4;
	vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
	content: "\f106";
}

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #00275e;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

/* Submenu style */
#cbp-hsmenu-wrapper ul.sub-menu,
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	max-width: 75em;
	width: 100%;
	z-index: 0;
	visibility: hidden;
}
#cbp-hsmenu-wrapper ul.sub-menu:before,
#cbp-hsmenu-wrapper ul.sub-menu:after,
.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
	content: " ";
	display: table;
}
#cbp-hsmenu-wrapper ul.sub-menu:after,
.cbp-hssubmenu:after {
	clear: both;
}

/* Let's allow 6 item in a row */
#cbp-hsmenu-wrapper ul.sub-menu > li,
.cbp-hssubmenu > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n+6),
.cbp-hssubmenu > li:nth-child(-n+6) {
	box-shadow: -28px 0 0 -27px #ddd;
}

/* Every 7th item does not have a left box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(6n+1),
.cbp-hssubmenu > li:nth-child(6n+1) {
	box-shadow:  0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:first-child,
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}
#cbp-hsmenu-wrapper ul.sub-menu > li a,
.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	outline: none;
	padding: 2em 1em 1em 1em;
}

#cbp-hsmenu-wrapper ul.sub-menu > li a img,
.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
#cbp-hsmenu-wrapper .no-touch ul.sub-menu > li a:hover img,
.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}
#cbp-hsmenu-wrapper ul.sub-menu > li a span,
.cbp-hssubmenu > li a span {
	display: block;
	min-height: 3em;
	margin-top: 0.4em;
}
#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu,
.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 1000;
	visibility: visible;
}
#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu > li,
.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
	background: #f7f7f7;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 0;
	height: 0px;
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

@media screen and (max-width: 65em){
	.cbp-hsmenu-wrapper {
		font-size: 80%;
	}
}

@media screen and (max-width: 51.4375em){
	.cbp-hsmenu-wrapper {
		font-size: 100%;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0;
		max-width: none;
		width: 100%;
	}

	.cbp-hsmenu > li {
		border-top: 1px solid rgba(255,255,255,0.5);
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.cbp-hsmenu > li:first-child {
		border-top: none;
	}

	.cbp-hsmenu > li > a {
		display: block;
	}

	.cbp-hsmenu > li > a:not(:only-child):before {
		line-height: 1.8;
		right: 0;
		position: absolute;
		font-size: 200%;
	}

	.cbp-hsmenubg {
		display: none;
	}

	#cbp-hsmenu-wrapper ul.sub-menu,
	.cbp-hssubmenu {
		background: #f7f7f7;
		position: relative;
		overflow: hidden;
		height: 0;
	}
	#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu,
	.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
		height: auto;
	}

	/* Let's only allow 3 item in a row now */
	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hssubmenu > li {
		width: 30%;
	}

	/* Reset box shadows for the 6 items in row case */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n+6),
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(6n+1),
	.cbp-hssubmenu > li:nth-child(-n+6),
	.cbp-hssubmenu > li:nth-child(6n+1) {
		box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	}

	/* First 4 items don't have upper box shadow */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n+3),
	.cbp-hssubmenu > li:nth-child(-n+3) {
		box-shadow: -28px 0 0 -27px #ddd;
	}

	/* Every 5th item does not have a left box shadow */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(3n+1),
	.cbp-hssubmenu > li:nth-child(3n+1) {
		box-shadow:  0 -28px 0 -27px #ddd;
	}

}

@media screen and (max-width: 25em){
	/* Let's only allow 1 item in a row now */
	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hssubmenu > li {
		width: 100%;
		display: block;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hsmenu-wrapper .cbp-hssubmenu > li {
		box-shadow: 0 1px #cecece;
		text-align: left;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a,
	.cbp-hssubmenu > li a {
		text-align: left;
		line-height: 50px;
		padding: 0.4em 1em;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a img,
	.cbp-hssubmenu > li a img{
		display:none;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a span,
	.cbp-hssubmenu > li a span {
		min-height: 0;
		margin: 0;
	}
}

/*
 * Support for MegaMenu's description.
 */

.menu-item-description {
	display: block;
	text-transform: uppercase;
	font-size: .55rem;
}

.menu-item-object-custom .menu-item-description i:before{
	font-size: 1.15em;
	position: relative;
	top: 0;
	margin-right: 0px;
	margin-left: 2px
}

/*
 * Branding support
 */

.elementor-branding .custom-logo-link {
	padding: 0;
	float: none;
}
