e/** Background Colors **/

/* Line Colors */

/* Text Colors */

.wp-block .wp-block {
	width: 100%;
}

.editor-inner-blocks .wp-block {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

body {
	font-family: "Merriweather", sans-serif;
	line-height: 1.5;
	font-size: 15px;
	background: #ffffff;
}

body,
button,
input,
select,
optgroup,
textarea {
	font-family: "Merriweather", sans-serif;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "HK Grotesk", sans-serif;
	clear: both;
	color: #000000;
	line-height: 1.3;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: 700;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	margin: 60px 0 30px;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child {
	margin-top: 0;
}

.entry-content h1 + h2,
.entry-content h2 + h3,
.entry-content h3 + h4,
.entry-content h4 + h5,
.entry-content h5 + h6 {
	margin: 30px 0;
}

h1,
.h1 {
	font-size: 32px;
}

h2,
.h2 {
	font-size: 26px;
}

h3,
.h3 {
	font-size: 21px;
}

h4,
.h4 {
	font-size: 18px;
}

h5,
.h5 {
	font-size: 15px;
}

h6,
.h6 {
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
	margin-bottom: 25px;
}

p:last-child {
	margin-bottom: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	font-family: "Playfair Display", sans-serif;
	font-weight: 700;
	font-size: 24px;
	border-left: solid 5px #ebebeb;
	padding: 0 10%;
	margin: 30px 0;
}

.entry-content blockquote a {
	color: #333;
	border-color: #333;
}

address {
	margin: 0 0 1.5em;
}

pre {
	line-height: 1.5;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monospace;
}

abbr,
acronym {
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

hr {
	background-color: #ddd;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

table,
th,
td {
	border: 1px solid #ebebeb;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
}

code {
	background: #eee;
	display: inline-block;
	padding: 5px 10px;
}

pre {
	border: solid 1px #ddd;
	padding: 30px;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 12px 24px;
}

small {
	font-size: 13px;
	color: #888;
}

/* List */

ul,
ol {
	clear: both;
	margin: 0 0 1.5em 0;
}

ul li,
ol li {
	line-height: 2;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 5px 0 30px 0;
}

a {
	color: #131313;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

@media (max-width: 468px) {

blockquote {
	font-size: 16px;
}

}

@-webkit-keyframes loaderAnim {

to {
	opacity: 1;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

}

@keyframes loaderAnim {

to {
	opacity: 1;
	-webkit-transform: scale3d(0.5, 0.5, 1);
	transform: scale3d(0.5, 0.5, 1);
}

}

