.stories_block_heading_5 strong,
.stories_block_heading_6 strong,
.stories_block_heading_7 strong,
.stories_block_heading_8 strong {
	color: $mainColor;
}

.stories_block_heading {
	position: relative;
	margin-bottom: 20px;
}
.third_title {
	padding: 5px 0px 5px 0px;
	clear: left;
	display: block;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #666666;
	transform: translate(0px, -10px);
	-webkit-transform: translate(0px, -10px);
	margin-bottom: 10px;
}

.stories_block_title,
.stories_block_title a span {
	color: #212121;
	font-size: 17px;
	font-weight: 700;
	margin: 0;
	line-height: normal;
	float: left;
}

.stories_block_title a {
	color: inherit;
}

.stories_block_title a span,
.stories_block_title i,
.stories_block_title span {
	display: inline-block;
	padding: 10px 10px;
	white-space: nowrap;
	height: 100%;
}

.stories_block_title i {
	margin-right: 8px;
	padding: 0;
}

.jeg_aligncenter {
	text-align: center;
}

.jeg_aligncenter .stories_block_title {
	float: none;
}

// Heading Style 1

.stories_block_heading_1 {
	border-bottom: 2px solid $mainColor;
}

.stories_block_heading_1 .stories_block_title span {
	background: $mainColor;
	color: #fff;
	border-radius: 0px 0px 0 0;
	margin-bottom: -1px;
}
.stories_block_heading_1 .stories_block_title span strong {
	color: #fff;
}

.stories_block_heading_1 .jeg_subcat {
	margin-bottom: -1px;
	width: auto;
}
.jeg_subcat_list { 
	height: 100%;
    vertical-align: middle;
    display: inline-flex !important; 
    flex-wrap: wrap;
    align-items: center;
}
.stories_block_heading_1 .jeg_subcat .jeg_subcat_list {
	float: left;
}

.stories_block_heading_1 .jeg_subcat_list > li > a,
.stories_block_heading_1 .okayNav__menu-toggle {
	height: 34px;
	line-height: 34px;
}

// Heading Style 2

.stories_block_heading_2 {
	background: $mainColor;
	border-radius: 0px;
}

.stories_block_heading_2 .stories_block_title {
	font-size: 14px;
}

.stories_block_heading_2 .stories_block_title span {
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.stories_block_heading_2 .jeg_subcat_list > li > a {
	font-size: 11px;
	color: #fff;
}

.stories_block_heading_2 .jeg_subcat {
	background: 0 0;
	padding-right: 10px;
}

.stories_block_heading_2 .okayNav__menu-toggle {
	margin-right: -10px;
}

// Heading Style 3

.stories_block_heading_3 {
	background: $mainColor;
	border-radius: 0px;
}

.stories_block_heading_3 .stories_block_title span {
	color: #fff;
}

.stories_block_heading_3 .okayNav__menu-toggle span {
	background: #fff;
}

// Heading Style 4

.stories_block_heading_4 {
	margin-bottom: 0px;
	border-radius: 0px;
	position: relative;
	z-index: 6;
}
.stories_block_heading_4 .stories_block_title {
	margin-bottom: -45px !important;
}

.sidebar .stories_block_heading_4 .stories_block_title {
	margin-bottom: 0 !important;
}

.stories_block_heading_4 .stories_block_title span {
	background: $mainColor;
	font-size: 52px;
	font-weight: bold;
	color: #fff;
	height: auto;
	padding: 10px 15px;
}

.sidebar .stories_block_heading_4 .stories_block_title span {
	font-size: 15px;
}

.stories_block_heading_4 .jeg_subcat,
.stories_block_heading_4 .third_title {
	display: none !important;
}
.main-header {
	clear: left;
}

// Heading Style 5

.stories_block_heading_5 {
	margin-bottom: 15px;
	border-style: solid;
	border-left: none;
	border-right: none;
}

.stories_block_heading_5 .stories_block_title span {
	position: relative;
	padding-left: 0;
	background: #fff;
	height: auto;
	line-height: 1;
	font-size: 21px;
}

.stories_block_heading_5.jeg_aligncenter .stories_block_title span {
	padding: 0 15px;
}

.stories_block_heading_5:before {
	content: "";
	width: 100%;
	height: 0;
	border-bottom: 1px solid $lightBorder;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
}

.stories_block_heading_5 .jeg_subcat {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
}

.stories_block_heading_5 .stories_block_title span {
	padding-right: 15px;
}

.stories_block_heading_5 .okayNav__nav--visible {
	padding-left: 7px;
}

.alt .stories_block_heading_5 .stories_block_title span,
.alt .stories_block_heading_5 .jeg_subcat {
	background-color: #000;
}

// Heading Style 6

.stories_block_heading_6 {
	padding-bottom: 4px;
	border-bottom: 2px solid $lightestBorder;
}

.stories_block_heading_6:after {
	content: "";
	width: 30px;
	height: 2px;
	background: $mainColor;
	display: block;
	position: relative;
	bottom: -6px;
}

.stories_block_heading_6 .stories_block_title span {
	padding: 0;
}

.stories_block_heading_6.jeg_aligncenter:after {
	margin: auto;
}

// Heading Style 7

.stories_block_heading_7 {
	border: none;
	border-style: solid;
	padding: 0;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid $lightestBorder;
}

.stories_block_heading_7 .stories_block_title {
	margin-bottom: -2px !important;
	height: 100%;
}
.stories_block_heading_7 .stories_block_title span {
	border-bottom: 2px solid $mainColor;
	padding: 0;
}

// Heading Style 8

.stories_block_heading_8 {
	margin-bottom: 10px;
}

.stories_block_heading_8 .stories_block_title {
	font-size: 21px;
}

.stories_block_heading_8 .stories_block_title span {
	padding: 0;
}

.stories_block_heading_8 .stories_block_title span,
.stories_block_heading_8 .jeg_subcat_list > li > a {
	height: 30px !important;
	line-height: 30px !important;
}

.stories_block_heading_8 .okayNav__menu-toggle {
	width: 30px !important;
	height: 30px !important;
	line-height: 30px !important;
}

.jeg_header_style_8 .jeg_topright .socials_widget a {
	margin: 5px 10px 5px 0;
}

// Heading Style 9

.stories_block_heading_9 {
	border-top: 5px solid $black;
	border-bottom: 2px solid $black;
}

.stories_block_heading_9 .stories_block_title span {
	padding: 12px 0;
}

.stories_block_heading_9.jeg_aligncenter:after {
	margin: auto;
}

// Heading Style 10

.stories_block_heading_10 .stories_block_title {
	width: 100%;
	text-align: center;
}
.stories_block_heading_10 .jeg_subcat,
.stories_block_heading_10 .jeg_subcats {
	width: 100%;
	text-align: center;
	height: 100%;
}
.stories_block_heading_10 .jeg_subcats > ul {
	width: 100%;
	text-align: center;
	clear: left;
	margin: 0px;
	padding: 0px;
	display: block;
}
.stories_block_heading_10 .jeg_subcats .jeg_subcat {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.stories_block_heading_10 .jeg_subcats .jeg_subcat_list {
	margin: 0px;
	padding: 0px;
}

// Heading Style 11

.stories_block_heading_11 .stories_block_title {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.stories_block_heading_11 .stories_block_title:before,
.stories_block_heading_11 .stories_block_title:after {
	content: "";
	border-top: 1px solid;
	margin: 0 10px 0 0;
	flex: 1 0 20px;
}

.stories_block_heading_11 .stories_block_title:after {
	margin: 0 0 0 10px;
}

.stories_block_heading_11 .jeg_subcat,
.stories_block_heading_11 .jeg_subcats {
	width: 100%;
	text-align: center;
	height: 100%;
}
.stories_block_heading_11 .jeg_subcats > ul {
	width: 100%;
	text-align: center;
	clear: left;
	margin: 0px;
	padding: 0px;
	display: block;
}
.stories_block_heading_11 .jeg_subcats .jeg_subcat {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.stories_block_heading_11 .jeg_subcats .jeg_subcat_list {
	margin: 0px;
	padding: 0px;
}

// Heading Style 12

.stories_block_heading_12 .stories_block_title {
	width: 100%;
	text-align: left;
}
.stories_block_heading_12 .stories_block_title span {
	padding: 10px 0px;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.2px;
	color: $mainColor;
}

.sidebar .stories_block_heading_12 .stories_block_title span {
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: $letter_space_small;
	color: $mainColor;
}

.stories_block_heading_12 .stories_block_title span strong {
	display: block;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: -0.6px;
	color: #333;
}
.stories_block_heading_12 .stories_block_title span strong {
	display: block;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: -0.6px;
	color: #333;
	margin-top: 10px;
}
.stories_block_heading_12 .third_title {
	display: block;
	text-align: left;
	font-size: 34px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: -0.6px;
	color: #333;
}
.stories_block_heading_12 .jeg_subcat,
.stories_block_heading_12 .jeg_subcats {
	width: 100%;
	text-align: left;
	height: 100%;
}
.stories_block_heading_12 .jeg_subcat {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: left;
	margin-top: 30px;
}
.stories_block_heading_12 .jeg_subcat_list {
	margin: 0px;
	padding: 0px;
}
.stories_block_heading_12 .jeg_subcat_list li {
	margin-right: 30px;
}
.stories_block_heading_12 .jeg_subcat_list a {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: 1.8px;
	color: #333;
	height: auto;
	padding: 0px;
}

.stories_block_heading_12 .jeg_subcat_list a:after {
	background: $mainColor;
}
.stories_block_heading_12 .jeg_subcat_list a.current {
	border-bottom: 2px solid $mainColor;
}

// Heading Style 13

.stories_block_heading_13 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	border-top-style: solid;
	border-top-width: 0px;
	display: flex;
	flex-wrap: wrap;
}

.stories_block_heading_13 .stories_block_title span {
	padding-left: 0;
}

.stories_block_heading_13 .jeg_subcat {
	margin-left: auto !important;
}
.stories_block_heading_13 .jeg_subcat_list {
	height: 100%;
	display: inline-flex;
	flex-wrap: wrap;
}
.stories_block_heading_13 .jeg_subcat_list li {
	display: inline-flex;
	align-items: center;
}
.stories_block_heading_13 .jeg_subcat_list li a {
	height: 100%;
	line-height: initial;
	display: inline-flex;
	align-items: center;
}
.stories_block_heading_13 .jeg_subcat_list li a.current {
	border-bottom: 1px solid #333;
}

.stories_block_heading_14 {
	border-bottom: solid 1px $lightestBorder;
}

.stories_block_heading_14 .stories_block_title,
.stories_block_heading_14 .stories_block_title a span {
	font-size: 21px;
	color: $textColorRegular;
}

.stories_block_heading_14 .stories_block_title span {
	padding-left: 0;
}

.stories_block_heading_14 .stories_block_title span:after {
	font-family: "stories" !important;
	content: "\|";
	display: inline-block;
	font-size: 11px;
	vertical-align: middle;
	padding-left: 10px;
	color: $mainColor;
}

.stories_block_heading_15 {
	border-top: solid 4px $bgDark;
}

.stories_block_heading_15 .stories_block_title span {
	padding-left: 0;
	margin: 10px 0;
}

// Heading for Dark

.dark .stories_block_title,
.dark.stories_block_title {
	color: #fff;
}

.dark .stories_block_heading_5 .stories_block_title span:after,
.dark .stories_block_heading_5 .stories_block_title span:before,
.dark.stories_block_heading_5 .stories_block_title span:after,
.dark.stories_block_heading_5 .stories_block_title span:before {
	border-color: rgba(255, 255, 255, 0.2);
}

.dark .stories_block_heading_1,
.dark .stories_block_heading_2,
.dark.stories_block_heading_1,
.dark.stories_block_heading_2 {
	border-color: rgba(255, 255, 255, 0.2);
}

.dark .stories_block_heading_1 .stories_block_title span,
.dark .stories_block_heading_2 .stories_block_title span,
.dark .stories_block_heading_3,
.dark.stories_block_heading_1 .stories_block_title span,
.dark.stories_block_heading_2 .stories_block_title span,
.dark.stories_block_heading_3 {
	background: rgba(255, 255, 255, 0.2);
}

// Sub Category

.jeg_subcat {
	display: block;
	float: left;
	margin-left: 1em;
}

.jeg_subcat .jeg_subcat_list,
.jeg_subcat .jeg_subcat_list li {
	margin-bottom: 0;
}

.jeg_subcat.okayNav ul {
	list-style: none;
}

.jeg_subcat .okayNav__menu-toggle {
	width: 30px;
	float: right;
	height: 100% !important;
	vertical-align: middle;
}

.jeg_subcat_list,
.jeg_subcat_list > li {
	display: inline-block;
	vertical-align: top;
}

.jeg_subcat_list > li > a {
	color: #7b7b7b;
	display: block;
	height: 36px;
	line-height: 36px;
	font-size: 12px;
	font-weight: 500;
	padding: 0 7px;
	-webkit-transition: 0.25s all ease;
	-o-transition: 0.25s all ease;
	transition: 0.25s all ease;
}

.jeg_subcat_list li a:hover,
.jeg_subcat_list li button:hover {
	color: #02958a;
}

.jeg_subcat_list li a.current {
	color: #212121;
}
.stories_block_heading_2 .jeg_subcat_list li a.current {
	color: #fff;
}
.stories_block_heading_2 .jeg_subcat .okayNav__menu-toggle span {
	background: #fff;
}
.stories_block_heading:not(.jeg_subcat_right) .okayNav__menu-toggle {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.stories_block_heading:not(.jeg_subcat_right)
	.okayNav__menu-toggle.icon--active {
	-webkit-transform: translateY(-50%) rotate(90deg) !important;
	transform: translateY(-50%) rotate(90deg) !important;
}

.jeg_subcat_right .jeg_subcat {
	float: right;
	margin-left: 0;
}

.jeg_subcat_right .jeg_cat_menu {
	left: inherit;
	right: 0;
}

.stories_block_heading_3 .jeg_subcat_list li a {
	color: #fff;
}

.stories_block_heading_3 .jeg_subcat_list li a.current {
	border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.stories_block_heading_3 .jeg_subcat_list li a:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}

.stories_block_heading_3 .jeg_subcat {
	background: 0 0;
	padding-right: 10px;
}

.stories_block_heading_3 .okayNav__menu-toggle {
	margin-right: -10px;
}
