.elementor-column-gap-default
	> .elementor-row
	> .elementor-column
	> .elementor-element-populated {
	padding: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.entry-content .page-links {
	font-size: 13px;
}

.entry-content .page-links a {
	background: $bgDark;
	color: #fff;
	padding: 7px 13px;
}

.entry-content .page-links > span {
	border: solid 1px $lighterBorder;
	padding: 7px 13px;
}

#pwbox-1168 {
	margin-bottom: 10px;
}

.avatar-image img {
	border-radius: 50%;
}
