input[type="submit"] {
	font-family: $title_font;
	font-size: 12px;
	line-height: 12px;
	font-weight: 600;
	background: $mainColor;
	text-transform: uppercase;
	letter-spacing: $letter_space_bigger;
	color: $white;
	padding: 20px 30px 15px;
	cursor: pointer;
	border: solid 1px $mainColor;
	max-width: 500px;

	&:hover {
		border: solid 1px $mainColor;
		background: transparent;
		color: $mainColor;
		@include transition(all ease 0.3s);
	}

	&:active,
	&:focus {
		border: solid 1px green;
		color: green;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $lighterBorder;
	padding: 10px;
	width: 100%;
	max-width: 500px;
	display: block;
	box-sizing: border-box;
	&:focus {
		border: 1px solid $DarkBorder;
	}
}

input[type="search"] {
	border-width: 2px;
}

select {
	border: 1px solid $lighterBorder;
}

textarea {
	width: 100%;
	max-width: 500px;
	height: 190px;
}
button {
	background: $mainColor;
	color: $white;
	padding: 14px 28px;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: $letter_space_bigger;

	&:focus {
		border: none;
		outline: none;
	}
}

label {
	font-family: $title_font;
}

// Input Focus
.form-element {
	position: relative;
	label {
		position: absolute;
		font-size: 15px;
		line-height: 1;
		letter-spacing: $letter_space_smaller;
		color: $textColorRegular;
		top: 0px;
		z-index: 1;
		@include transition(all ease 0.3s);
		padding: 17px;
	}
	label.focused {
		top: -16px;
		left: 10px;
		padding: 9px;
		@include transition(all ease 0.3s);
		background: #fff;
		font-size: 11px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: $letter_space_smaller;
		color: $mainColor;
		z-index: 3;
	}
	input {
		width: 100%;
		border: solid 1px $textColorLight;
		padding: 17px;
		line-height: 1;
		z-index: 2;
		background: none;
		&:focus {
			border-color: $mainColor;
		}
	}

	textarea {
		width: 100%;
		border: solid 1px $textColorLight;
		padding: 17px;
		line-height: 1;
		position: relative;
		z-index: 2;
		background: none;
		&:focus {
			border-color: $mainColor;
		}
	}
} // Focus Form Element

// Checkout Button
.checkout-button {
	position: relative;
	display: inline-block;
	input,
	button {
		background: $white;
		border: 1px solid $mainColor;
		color: $mainColor;
		font-weight: bold;
		padding: 14px 112px;
		font-size: 12px;
	}
	label {
		position: absolute;
		left: calc(65%);
		padding: 14px 0px;
		width: 22px;
		height: 16px;
		margin-top: 2px;
		svg {
			width: 22px;
			height: 16px;
			color: $mainColor;
			g {
				color: $mainColor;
				fill: $mainColor;
			}
		}
	}
}
.checkout-button:hover {
	label {
		left: calc(65% + 10px);
	}
	input,
	button {
		border-color: $mainColor;
	}
}
label.checkbox {
	font-family: Georgia;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: $textColorLight;
	cursor: pointer;
	margin-top: 17px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include transition(all ease 0.4s);
	padding-left: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// burak Bu tum inputlari yok ediyor

// input {
// 	position: absolute;
// 	opacity: 0;
// 	cursor: pointer;
// 	height: 0;
// 	width: 0;
// }

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 14px;
	width: 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	&:after {
		content: "";
		position: absolute;
		display: none;
		left: 9px;
		top: 5px;
		width: 5px;
		height: 10px;
		border: solid fff;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

input:checked ~ .checkmark:after {
	display: block;
}
