.sidebar ul {
	list-style: none;
}

.sidebar .widget {
	margin-bottom: 60px;
}

.sidebar .widget:last-child {
	margin-bottom: 0;
}

.sidebar .box-shadow {
	padding: 20px;
}

.sidebar .box-shadow .widget:first-child {
	margin-top: 20px;
}

.sidebar.big-sidebar .box-shadow {
	padding: 40px;
}

.sidebar ul li {
	line-height: 1.8;
	color: $textColorRegular;
	font-size: 13px;
}

.sidebar ul li a {
	color: $textColorRegular;
	font-size: 13px;
}
