@import "variables/variables-site";

// Base Typography

body {
	font-family: $main_font;
	line-height: $big_line_height;
	font-size: 15px;
	background: #ffffff;
}

p {
	line-height: $big_line_height;
	font-size: 15px;
}

body,
button,
input,
select,
optgroup,
textarea {
	font-family: $main_font;
	line-height: $big_line_height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title_font;
	clear: both;
	color: #000000;
	line-height: $small_line_height;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: 700;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	margin: 60px 0 30px;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child {
	margin-top: 0;
}

.entry-content h1 + h2,
.entry-content h2 + h3,
.entry-content h3 + h4,
.entry-content h4 + h5,
.entry-content h5 + h6 {
	margin: 30px 0;
}

h1,
.h1 {
	font-size: 32px;
}

h2,
.h2 {
	font-size: 26px;
}

h3,
.h3 {
	font-size: 21px;
}

h4,
.h4 {
	font-size: 18px;
}

h5,
.h5 {
	font-size: 15px;
}

h6,
.h6 {
	font-size: 13px;
	letter-spacing: $letter_space_big;
	text-transform: uppercase;
}

p {
	margin-bottom: 25px;
}

p:last-child {
	margin-bottom: 0;
}

.wp-block-quote__citation,
dfn,
cite,
em {
	font-size: 13px;
	color: $textColorRegular;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	text-transform: none;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: 15px;
}

// improve icon ekle

blockquote {
	font-family: $helper_title_font;
	font-weight: 700;
	font-size: 24px;
	border-left: solid 5px $lightBorder;
	padding: 0 10%;
	margin: 30px 0;
	@include small {
		font-size: 16px;
	}
}

.wp-block-pullquote {
	border: 0;
	border-top-width: 3px;
	border-bottom-width: 1px;
	border-color: black;
	border-style: solid;
	padding: 10px 0;
}

.wp-block-pullquote blockquote {
	border: 0;
}

.wp-block-pullquote.aligncenter {
	max-width: 80%;
	margin-top: 100px;
	margin-bottom: 100px;
}

blockquote p {
	margin-bottom: 0;
}

.entry-content blockquote a {
	color: $textColorDark;
	border-color: $textColorDark;
}

address {
	margin: 0 0 1.5em;
}

.wp-block-code,
.wp-block-preformatted pre,
.wp-block-code,
.wp-block-preformatted pre,
code,
kbd,
tt,
pre {
	font-family: Menlo, Consolas, monaco, monospace;
	line-height: $line_height;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

abbr,
acronym {
	// border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	// background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

// Elements

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

hr {
	background-color: $lighterBorder;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

.wp-block-table,
table,
th,
td {
	border: 1px solid $lightBorder;
}
.wp-block-table,
table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed;
	width: 100%;
}

code {
	background: $bgLighter;
	display: inline-block;
	padding: 5px 10px;
}

.wp-block-verse,
pre {
	border: solid 1px $lighterBorder;
	padding: 30px;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th,
td {
	padding: 12px 24px;
}

small {
	font-size: 13px;
	color: $textColorLight;
}

/* List */

ul,
ol {
	clear: both;
	margin: 0 0 1.5em 0;
}

ul li,
ol li {
	line-height: $bigger_line_height;
}

ul ul {
	list-style: circle;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 5px 0 30px 0;
}
@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}
a {
	color: $textColorDarker;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

// Single

// Post Title

.stories_title_wrapper h1,
.editor-post-title__block .editor-post-title__input {
	font-family: $title_font;
	font-size: 42px;
	line-height: 54px;
	letter-spacing: $letter_space_regular;
	font-weight: 700;
}

// Single Post Modules Styles
.wp-block,
.default-single article {
	max-width: 825px;
	margin: 0 auto;
}

.editor-block-list__layout,
.entry-content,
.entry-botttom,
.default-single .stories_title_wrapper,
.editor-post-title__block {
	padding: 0 7%;
}

.editor-post-title__block .editor-post-title__input {
	text-align: center;
}

// Content

.editor-block-list__layout,
.entry-content {
	text-align: left;
	color: $textColorDark;
	line-height: $bigger_line_height;
	margin-bottom: 30px;
}
.editor-block-list__layout a,
.entry-content a:not(.wp-block-button__link) {
	color: $mainColor;
	border-bottom: solid 1px $mainColor;
	&:hover {
		border: 0;
	}
}

.dropcap-on > p:first-of-type:first-letter {
	float: left;
	font-size: 90px;
	line-height: 80px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}

// Alignment

.alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.aligncenter {
	display: block;
	margin: 0 auto 1.75em;
	text-align: center;
}

.alignleft,
.alignright,
.aligncenter {
	clear: left;
}

.alignright {
	clear: right;
}

.pos-center {
	margin: 0 auto;
	text-align: center;
}
