.title_font {
	font-family: $title_font;
	// improve letter space site isi
	letter-spacing: $letter_space_small;
}

.helper_title_font {
	font-family: $helper_title_font;
	font-weight: 700;
}

.main_font {
	font-family: $main_font;
}

// Link Slide Border Hover Effect
.borderSlide {
	position: relative;
	text-decoration: none;
	color: $textColorDarker;
}
.borderSlide::after {
	content: "";
	z-index: -1;
	width: 100%;
	bottom: -1px;
	left: 0;
	position: absolute;
	height: 2px;
	background: $textColorDarker;
	transform: scale3d(0, 1, 1);
	transform-origin: 0% 50%;
	transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.borderSlide:hover::after {
	transform: scale3d(1, 1, 1);
}
