.stories_viewport .container,
.container,
.elementor-section.elementor-section-boxed > .elementor-container {
	padding-left: 30px;
	padding-right: 30px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-15 {
	width: 20%;
	float: left;
	flex: 0 0 20%;
}
@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
		flex: 0 0 20%;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
		flex: 0 0 20%;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
		flex: 0 0 20%;
	}
}

// General Modules Style
.jeg_postblock {
	margin-bottom: 20px;
	position: relative;
	.jeg_block_container {
		clear: left;
		.jeg_posts {
			article.jeg_post {
				margin-bottom: 30px;
				.jeg_inner_post {
					.jeg_thumb {
						position: relative;
						overflow: hidden;
						z-index: 0;
						.jeg_edit_post {
							position: absolute;
							top: -15px;
							opacity: 0;
							z-index: 5;
							color: #fff;
							padding: 4px 8px;
							line-height: 20px;
							font-size: 13px;
							background-color: rgba(0, 0, 0, 0.4);
							-webkit-transition: all 0.2s ease-in-out;
							-moz-transition: all 0.2s ease-in-out;
							-o-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;
							font-weight: 500;
							visibility: hidden;
							text-decoration: none;
						} //.jeg_edit_post
						a {
							.thumbnail-container {
								display: block;
								position: relative;
								height: 0;
								overflow: hidden;
								z-index: 0;
								background: #f7f7f7;
								background-position: 50%;
								background-size: cover;
								&::before {
									content: "";
									opacity: 1;
									background: #f7f7f7
										url(stories-extras/assets/img/preloader.gif);
									background-position: center;
									background-size: cover;
									position: absolute;
									height: 100%;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;
									z-index: -2;
								}
								&:after {
									content: "";
									z-index: -1;
									width: 100%;
									bottom: -1px;
									left: 0;
									position: absolute;
									height: 2px;
									background: #131313;
									-webkit-transform: scale3d(0, 1, 1);
									transform: scale3d(0, 1, 1);
									-webkit-transform-origin: 0% 50%;
									transform-origin: 0% 50%;
									-webkit-transition: -webkit-transform 0.2s
										cubic-bezier(0.39, 0.575, 0.565, 1);
									transition: -webkit-transform 0.2s
										cubic-bezier(0.39, 0.575, 0.565, 1);
									transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
									transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1),
										-webkit-transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
								}
								img {
									position: absolute;
									top: 0;
									bottom: 0;
									left: 0;
									width: 100%;
									min-height: 100%;
									color: #a0a0a0;
									z-index: -1;
								}
							}
						} //a
					} //.jeg_thumb
					.jeg_postblock_content {
						margin: 0px;
						position: relative;
						z-index: 3;
					} //.jeg_postblock_content
				}
			}
		}
	}
}

// burak Module'leri de parcalayalim diye dusundum, bi sakincasi var mi ?
// modules klasoru altinda module_12 ye tasidim.
