/* Dot */
.jeg_post_meta.post_meta_4.dot .jeg_meta_author + .jeg_meta_date:before {
	content: "";
	border-radius: 50%;
	width: 2px;
	height: 2px;
	background: rgba(0, 0, 0, 0.3);
	display: inline-block;
}

/* Hypens */
.jeg_post_meta.post_meta_4.hyphens .jeg_meta_author + .jeg_meta_date:before {
	content: "";
	width: 6px;
	height: 1px;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
}

/* Vline */
.jeg_post_meta.post_meta_4.vline .jeg_meta_author + .jeg_meta_date:before {
	content: "";
	width: 1px;
	height: 9px;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
}

/* Splash */
.jeg_post_meta.post_meta_4.splash .jeg_meta_author + .jeg_meta_date:before {
	content: "";
	width: 1px;
	height: 9px;
	background: rgba(0, 0, 0, 0.2);
	display: inline-block;
	transform: rotate(18deg);
}

/* Splash */
.jeg_post_meta.post_meta_4.times .jeg_meta_author + .jeg_meta_date:before {
	content: "\d7";
	font-size: 13px;
	vertical-align: middle;
	color: $bgLight;
	margin-right: 8px;
}

.jeg_meta_date:before {
	margin-right: 8px;
}

.jeg_post_meta {
	font-family: $title_font;
	color: $textColorRegular;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-size: 13px;
	padding-bottom: 15px;
	a {
		color: $textColorRegular;
		font-size: 13px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: $letter_space_regular;
		transition: opacity ease 0.3s;
	}
	a:hover {
		opacity: 0.6;
	}
}

.jeg_share_list {
	transition-property: all;
	transition-duration: 1.4s;
	transition-timing-function: ease-out;
	display: flex;
	flex-wrap: nowrap;
	a {
		float: left;
		color: $white;
		background: $black;
		padding: 8px 16px;
		text-align: center;
		transform: translateY(100%);
		transition: all ease 0.3s;
		&::after {
			content: "";
			z-index: -1;
			width: 100%;
			bottom: -1px;
			left: 0;
			position: absolute;
			height: 2px;
			background: $bgDark;
		}
		i {
			font-size: 15px;
			height: auto;
			color: #ffffff;
		}
	}
	a:hover {
		background: rgba(0, 0, 0, 0.7);
		color: $mainColor;
	}
} //.jeg_share_list

.jeg_post .jeg_thumb .jeg_share_list.customizer_hide {
	display: none;
}

.jeg_share_list {
	position: absolute;
	bottom: 0px;
} //.jeg_share_list
.jeg_thumb:hover {
	.jeg_share_list {
		a {
			transform: translateY(0);
			transition: all ease 0.5s;
		}
		a:first-child {
			transition: all ease 0.2s;
		}
		a:nth-child(2) {
			transition: all ease 0.35s;
		}
		a:nth-child(3) {
			transition: all ease 0.5s;
		}
		a:nth-child(4) {
			transition: all ease 0.65s;
		}
		a:nth-child(5) {
			transition: all ease 0.8s;
		}
		a:nth-child(6) {
			transition: all ease 0.95s;
		}
		a:nth-child(7) {
			transition: all ease 1.1s;
		}
	}
}

// Post Rating
.jeg_post_rating,
.jeg_post_view {
	font-family: $title_font;
	border-radius: 13px;
	padding: 6px 12px 4px;
	font-size: 11px;
	letter-spacing: $letter_space_smaller;
	color: $white;
	float: left;
	margin-right: 10px;
} //.jeg_post_rating

.jeg_post_rating {
	background-color: $mainColor;
}

.jeg_post_view {
	background-color: $black;
}

.jeg_post_view.postview_hide {
	display: none;
}

.jeg_post_rating.postview_hide {
	display: none;
}

// Post Category
.jeg_post_category {
	padding-bottom: 5px;
	text-rendering: auto;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
	font-size: 14px;
	font-family: $title_font;
	font-weight: 700;
	color: $mainColor;
	font-family: $title_font;
	span {
		display: inline-block;
		line-height: 1;
		font-size: 14px;
		letter-spacing: $letter_space_small;
		text-transform: none;
		margin-right: 15px;
	}
}

.jeg_post_reading_time {
	font-weight: 500;
	i {
		margin-right: 5px;
	}
}

.jeg_post_reading_time.reading_hide {
	display: none;
}

// Post Author
.jeg_meta_author {
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 8px;
	line-height: 1;
}
.jeg_meta_date {
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 8px;
	line-height: 1;
}

.jeg_meta_comment {
	margin-left: 10px;
	line-height: 1;
	font-size: 13px;
	display: inline-flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
	margin-right: 8px;
	line-height: 1;
	span {
		margin-right: 5px;
		line-height: 0.7;
	}
	i {
		font-size: 14px;
		margin-right: 5px;
		line-height: 0.7;
		position: relative;
		top: -1px;
		&::before {
			vertical-align: middle;
		}
	}
}
.jeg_post_number {
	display: none;
	padding: 30px 10px 0px 0px;
	span {
		background-image: linear-gradient(168deg, #3023ae, #c86dd7);
		font-family: $title_font;
		font-size: 60px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: $small_line_height;
		letter-spacing: $letter_space_regular;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.show_post_number {
	display: flex;
	flex-wrap: nowrap;
}

.jeg_post_excerpt {
	p {
		padding-bottom: 20px;
		margin-bottom: 0;
	}
}

.jeg_readmore {
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: $letter_space_big;
	text-transform: uppercase;
	color: $mainColor;
}
.jeg_readmore svg {
	width: 18px;
	height: auto;
}

.jeg_readmore svg g {
	fill: $mainColor;
}

// Simdilik buraya ekledim bunlari guzelce duzenlemek lazim

.jeg_post_title {
	clear: none;
	padding-bottom: 15px;
	line-height: $line_height;
}

.jeg_post_title a {
	-webkit-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

// Post Format

.jeg_thumb {
	overflow: hidden;
}
.jeg_thumb .jeg_post_format {
	position: absolute;
	top: 20px;
	right: 15px;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #000;
	border-radius: 50%;
	opacity: 0.8;
	border: 1px solid #fff;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	transition: opacity ease 0.3s, border ease 0.3s;
	i {
		color: #fff;
		font-size: 13px;
		transition: color ease 0.3s;
	}
	&:hover {
		opacity: 1;
		border: solid 1px $mainColor;
		i {
			color: $mainColor;
		}
	}
}

.jeg_post.narrow_post .jeg_thumb .jeg_post_format {
	top: 15px;
	right: 15px;
}

.jeg_post_format.post_format_hide {
	display: none;
}

.jeg_post_format.video {
	i {
		position: relative;
		left: 1px;
	}
}

// Rating & Views

.meta_top_left {
	position: absolute;
	top: 20px;
	left: 20px;
} //.meta_top_left

.jeg_post.narrow_post .jeg_thumb .meta_top_left {
	top: 15px;
	left: 15px;
}
