.jeg_postblock_14 {
	.jeg_posts_wrap { 	
		position: relative;
		overflow: hidden;
	} //.jeg_posts_wrap
	.jeg_block_container {
		clear: left;
		.jeg_posts {
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			align-items: flex-start;
			margin-right:  -15px;
			.jeg_post {
				float: left;
				width: 100%;
				padding-right:  0px;
			}
		}
	} //.jeg_block_container
} //.jeg_postblock_14