.jeg_postblock_16 {
	.jeg_posts_wrap {
		position: relative;
		overflow: hidden;
	} //.jeg_posts_wrap
	.jeg_block_container {
		clear: left;
		.jeg_posts {
			-webkit-flex-wrap: wrap;
			flex-wrap: wrap;
			display: flex;
			align-items: flex-start;
			margin-right: -15px;
			.jeg_post {
				float: left;
				width: 100%;
				padding-right: 0px;
			}
		}
	} //.jeg_block_container
	.jeg_post_title {
		font-size: 15px;
		padding-bottom: 10px;
	}
	.jeg_post_meta a {
		color: $textColorLight;
		font-style: italic;
		font-family: $main_font;
		font-size: $small_font - 1;
	}
} //.jeg_postblock_14
