.jeg_postblock_5,
.jeg_postblock_6 {
	.jeg_postblock_content {
		height: 100%;
	}
	.jeg_post_category {
		padding: 20px 0 15px;
		.jeg_post_cat a {
			text-transform: uppercase;
			letter-spacing: $letter_space_bigger;
		}
	}
	.jeg_post_title {
		font-size: 26px;
	}
	.jeg_post_meta {
		padding-bottom: 30px;
	}
}
