.jeg_postblock_7,
.jeg_postblock_8 {
	.jeg_postblock_content {
		height: 100%;
	}
	.jeg_post_category {
		padding: 30px 0 15px;
		.jeg_post_cat a {
			font-size: $small_font;
			text-transform: uppercase;
			letter-spacing: $letter_space_bigger;
		}
	}
	.jeg_post_title {
		font-size: 34px;
		font-weight: 700;
		padding-bottom: 45px;
		line-height: $smaller_line_height;
	}
	.jeg_thumb {
		max-height: 350px;
		@include large {
			max-height: 400px;
		}
	}
	.jeg_post_meta a {
		font-weight: 400;
	}

	// -- Medium Size Post
	.medium_post {
		.jeg_post_category {
			padding-bottom: 20px;
		}
		.jeg_post_title {
			font-size: 26px;
			line-height: $smaller_line_height;
			padding-bottom: 30px;
		}
		.jeg_thumb {
			max-height: 280px;
		}
		.jeg_post_meta a {
			font-size: 12px;
		}
	}

	// -- Responsive
	// You may see some responsive code on top,
	// associated responsive code writed in this section.
	.jeg_post_category,
	.medium_post .jeg_post_category {
		@include small-medium {
			padding: 15px 0 15px;
		}
	}

	.jeg_post_title,
	.medium_post .jeg_post_title {
		@include large {
			padding-right: 30px;
		}
		@include small-medium {
			font-size: 21px;
			padding-bottom: 25px;
		}
		@include small {
			padding-bottom: 15px;
		}
	}
}
