/*Admin Dashboard*/
h1 .epic-version {
    vertical-align: middle;
    font-size: 13px;
    background: #fff;
    border-radius: 15px;
    padding: 3px 10px;
    font-weight: bold;
    line-height: 1;
    border: 1px solid #ccc;
}
.epic-wrap h1 {
    width: 100%;
}
.epic-panel {
    background: #fff;
    padding: 2em;
    margin-bottom: 30px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}
.epic-registration-wrap label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.epic-registration-wrap .input-token {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}
.epic-registration-wrap .input-token:before {
    font-family: dashicons;
    font-size: 20px;
    content: "\f112";
    position: absolute;
    left: 2px;
    top: 2px;
    width: 40px;
    height: 38px;
    line-height: 40px;
    text-align: center;
    display: block;
    color: #aaa;
    border-right: 1px solid #ddd;
}
.epic-registration-wrap .input-token input.large-text {
    width: 100%;
    font-size: 1.2em;
    padding: 0 1em 0 55px;
    line-height: 38px;
    border-radius: 3px;
}
.epic-registration-wrap .input-token p.submit {
    padding: 0;
    margin: 0 0 0 15px;
}
.epic-registration-wrap .input-token #submit {
    font-size: 1em;
    line-height: 40px;
    height: 40px;
    padding: 0 18px;
}
.epic-howto {
    margin-bottom: 30px;
}
.epic-howto li {
    margin-bottom: 1.2em;
    line-height: 1.5em;
}
.wrap > .epic-admin-tab {
    float: none;
}
.help .tooltip {
    font-size: 15px;
    color: #A8A8A8;
}
table.epic_admin_table {
    max-width: 1050px;
    width: 100%;
}
table.epic_admin_table td {
    padding: 11px;
    font-size: 1.1em;
}
.epic_admin_table th {
    font-weight: 700;
    padding: 11px;
}
.epic_admin_table .status-title {
    width: 300px;
}
.epic_admin_table .status-flag {
    width: 30px;
    text-align: center;
}
table.epic_admin_table tr:nth-child(2n) td, table.epic_admin_table tr:nth-child(2n) th {
    background: #f7f7f7;
}
.flag-item {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #000;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}
.flag-yellow {
    background: #ffcc00;
}
.flag-green {
    background: #33cc33;
}
.flag-red {
    background: #dc3232;
}
.epic_admin_table {
    margin-bottom: 20px;
}
.epic_admin_table em {
    font-size: 12px;
    padding: 0 10px;
    font-weight: normal;
}
.epic_admin_table .debug-report textarea {
    width: 100%;
    height: 300px;
    padding: 20px;
    font-family: monospace;
    border-radius: 0;
    resize: none;
    font-size: 12px;
    line-height: 20px;
    outline: 0;
    color: #6B6B6B;
}
.epic_admin_table mark.yes {
    color: #00b300;
    font-weight: bold;
    background: none;
}
.epic_admin_table mark.no {
    color: #dc3232;
    font-weight: bold;
    background: none;
}
.epic-plugin-wrap {
    width: 1050px;
}
.epic_admin_table .debug-report {
    position: relative;
}
.epic-action-notice, .epic-plugin-item .epic-action-notice {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid;
    display: none;
}
.epic-action-notice span {
    display: block;
    padding: 10px 0;
    line-height: 1.4em;
}
.epic-action-notice .fa {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
}
.epic-action-notice.info {
    color: #31708f;
    border-color: #9cdae6;
    background-color: #d9edf7;
}
.epic-action-notice.success {
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}
.epic-action-notice.warning {
    color: #8a6d3b;
    border-color: #faebcc;
    background-color: #fcf8e3;
}

.epic-wrap form {
    width: 100%;
}

.epic-validate {
    display: inline-block !important;
    vertical-align: middle;
}

.epic-validate-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.epic-validate i {
    font-weight: bold;
    float: left;
    color: green;
    font-size: 36px;
    margin-right: 19px;
    margin-top: -8px;
}
#adminmenu #toplevel_page_epic .wp-menu-image:before {
    background: url('../../assets/img/dashboard.png') 50% no-repeat;
    content: "";
}