// Custom Header //
body.popupOpened {
	overflow: hidden;
}
header::after {
	content: "";
	position: fixed;
	z-index: 9997;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: opacity 0.3s;
	transition-timing-function: ease-out;
}
#mega-menu-wrap-primary {
	width: 100%;
}

.logo-text a {
	font-family: $helper_title_font;
	font-weight: 400;
	display: inline-block;
	font-size: 6.5em;
	line-height: 1.2;
	color: $black;
	letter-spacing: -3.8px;
	@include transition(all ease 0.4s);
	@include medium {
		font-size: 3.5em;
		letter-spacing: -1px;
	}
	@include small {
		font-size: 2.5em;
		letter-spacing: 0;
	}
}

.site-description {
	font-family: $main_font;
}

header#headerDefault {
	@include transition(all ease 0.4s);
	.container {
		.row {
			.header-main {
				width: 100%;
				position: relative;
				.site-branding {
					.logo-container {
						width: 50%;
						text-align: center;
						margin: 35px 0 50px;
					}
				} //.site-branding
			}
			.primary-nav {
				.main-header-bar-navigation {
					nav {
						.main-navigation {
							ul {
								border-top: 3px solid $textColorDarker;
								border-bottom: 1px solid $textColorLighter;
								list-style: none;
								margin: 0px;
								display: flex;
								flex-wrap: wrap;
								justify-content: center;
								li {
									margin: 0px 15px;
									padding: 15px 0px 15px;
									a {
										font-family: Georgia, "Times New Roman", Times, serif;
										font-size: 15px;
										font-weight: bold;
										font-style: normal;
										font-stretch: normal;
										line-height: normal;
										letter-spacing: $letter_space_regular;
										color: $textColorDarker;
										text-decoration: none;
									}
								} //li
								li.menu-item-has-children {
									position: relative;
									margin-right: 26px;
									ul.sub-menu {
										margin: 1px 0px 0px;
										padding: 0px 0px 0px;
										list-style: none;
										position: absolute;
										z-index: 2;
										top: 100%;
										left: 0px;
										width: 250%;
										background: #fff;
										display: none;
										@include transition(all ease 0.3s);
										li {
											margin: 0px;
											border: 1px solid $textColorLighter;
											border-top: none;
											padding: 5px 10px;
										}
									}
								}
								li.menu-item-has-children:after {
									content: "";
									position: absolute;
									padding-top: 10px;
									top: 50%;
									margin-top: -4px;
									right: -15px;
									border: solid $bgDark;
									border-width: 0 2px 2px 0;
									transform: rotate(45deg);
									display: inline-block;
									padding: 3px;
									cursor: pointer;
									@include transition(all ease 0.3s);
								}
								li.menu-item-has-children:hover {
									ul.sub-menu {
										display: block;
										@include transition(all ease 0.3s);
									}
								}
								li.menu-item-has-children:hover::after {
									content: "";
									top: 50%;
									margin-top: -4px;
									right: -15px;
									border: solid $bgDark;
									border-width: 0 2px 2px 0;
									transform: rotate(-45deg);
									display: inline-block;
									padding: 3px;
									cursor: pointer;
									@include transition(all ease 0.3s);
								}
							}
						}
					}
				}
			} //.primary-nav
		} //.row
	} //.container
}

header.sticky {
	.primary-nav {
		@include transition(all ease-in-out 0.4s);
		transform: translateY(-109%);
		background: $white;
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 9997;
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
		#primary-menu {
			border: none !important;
		}
	}
} // header sticky

//improve default slticky
header.sticky {
	.primary-nav {
		@include transition(all ease-in-out 0.4s);
		transform: translateY(0%);
	}
}

.logged-in header.sticky .primary-nav {
	top: 32px;
}

.sticky-open {
	background: $white;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 9997;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
} // header sticky

.stories-sticky-header.sticky-open {
	display: block;
}

.logged-in .stories-sticky-header.sticky-open {
	top: 32px;
}

.stories-sticky-header .elementor-widget-empty-icon {
	display: none !important;
}

.stories-sticky-header .elementor-element.elementor-widget-empty {
	background: transparent !important;
}

.elementor-element.stories-sticky-header {
	display: none;
}

.elementor-element.stories-sticky-header.sticky-open {
	display: block;
}

/* Date
	 ========================================================================== */

.elementor-date {
	font-style: italic;
	font-size: 12px;
	color: $textColorLight;
}

/* Search Box
	 ========================================================================== */
.search-box.default {
	position: absolute;
	right: 15px;
	height: 100%;
	top: 0px;
	.search-icon {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
.search-box {
	.search-icon {
		.search-button {
			cursor: pointer;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			i {
				margin-right: 5px;
				font-size: 21px;
			}
			span {
				font-size: 14px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: $letter_space_regular;
				color: $textColorDark;
				margin-right: 5px;
			}
		}
	}
	.search-overlay {
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 100%;
		overflow: hidden;
		width: 100%;
		height: 100vh;
		background: white;
		pointer-events: none;
		transition: transform 0.3s;
		transition-delay: 0.4s;
		transition-timing-function: ease-out;
		.search-container {
			max-width: 80%;
			margin: 0 auto;
			.custom-search-form {
				position: relative;
				.btn-hidden {
					display: none;
				}
				.search-input-icon {
					position: absolute;
					top: 0px;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					height: 100%;
					i {
						font-size: 55px;
						@include small {
							font-size: 32px;
						}
					}
				}
				.search-form {
					margin: 110px 0px;
					border-bottom: 3px solid $textColorDarker;
					.search-input {
						font-family: $title_font;
						font-weight: 600;
						font-size: 70px;
						line-height: 1;
						display: inline-block;
						box-sizing: border-box;
						width: 100%;
						max-width: 100%;
						padding: 15px 15px 15px 75px;
						color: $textColorDarker;
						border: none;
						@include small {
							font-size: 26px;
							padding-left: 50px;
						}
					}
					.search-input:focus {
						outline: none;
					}
					.search-input::placeholder {
						color: $textColorLighter;
					}
				}
			} //.custom-search-form
			.btn-search-close {
				cursor: pointer;
				position: fixed;
				right: 35px;
				top: 40px;
				width: 18px;
				height: 18px;
				display: none;
				.first-line {
					position: absolute;
					width: 2px;
					height: 100%;
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
					background: $bgDark;
					margin-left: 6px;
				}
				.second-line {
					position: absolute;
					width: 2px;
					height: 100%;
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					background: $bgDark;
					margin-left: 6px;
				}
			}
			.btn-show {
				display: block;
			}
			.search-input::-webkit-input-placeholder {
				/* WebKit, Blink, Edge */
				color: $textColorLighter;
			}

			.search-input::-moz-placeholder {
				opacity: 1;
				/* Mozilla Firefox 19+ */
				color: $textColorLighter;
			}

			.search-input:-ms-input-placeholder {
				/* Internet Explorer 10-11 */
				color: $textColorLighter;
			}

			.search-input::-webkit-search-cancel-button,
			.search-input::-webkit-search-decoration {
				-webkit-appearance: none;
			}

			.search-input::-ms-clear {
				display: none;
			}

			.search-info {
				font-size: 90%;
				font-weight: bold;
				display: block;
				width: 50%;
				padding: 0.85em 0;
				color: $textColorDarker;
			}

			.search-related {
				display: flex;
				width: 100%;
				padding: 0px;
			}
			.search-suggestion {
				text-align: center;
				width: 100%;
				h6 {
					margin-bottom: 30px;
				}
				ul {
					list-style: none;
					margin-left: 0px;
					li {
						display: inline-block;
					}
				}
			}
			.search-suggestion a {
				font-size: 36px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 2.5;
				letter-spacing: normal;
				text-align: center;
				color: $textColorDarker;
				text-decoration: none;
				padding: 0 40px;
				border-right: 1px solid $lighterBorder;
				height: 100%;
			}
			.search-suggestion a:last-child {
				border: none;
			}
		} //.container
	} // #searchPopup
	.search-overlay::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		transition: transform 0.3s;
		transition-timing-function: ease-out;
	}
	.search-overlay.admin-bar-spacer {
		padding-top: 32px;
		.btn-search-close {
			top: 72px;
		}
	} //.admin-bar-spacer
} //.search-box

/* Search Box Transitions */
.search--open {
	pointer-events: auto !important;
	transform: translate3d(-100%, 0, 0) !important;
	transition-delay: 0s !important;
}
.search--open::after {
	transform: translate3d(100%, 0, 0) !important;
	transition-delay: 0.4s !important;
}
.main-wrap--overlay::after {
	opacity: 1;
	transition-delay: 0s;
}

.random-post {
	a {
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include transition(all ease 0.3s);
		span {
			@include transition(all ease 0.3s);
			&:hover {
				@include transition(all ease 0.5s);
			}
		}
		&:hover {
			@include transition(all ease 0.5s);
		}
	}
}

@media screen and (max-width: 980px) {
	.search-box.default {
		.search-icon {
		}
	}
	.search-box {
		.search-icon {
			.search-button {
			}
		}
		.search-overlay {
			// burak Containeri css secerken kullanamyalim. Yanina baska bir class ekleyip onu kullanalim.
			.container {
				padding: 30px;
				.custom-search-form {
					.btn-hidden {
					}
					.search-input-icon {
						display: none;
					}
					.search-form {
						margin: 40px 0px;
						.search-input {
							font-size: 2em;
							width: 100%;
							padding-left: 5px;
						}
						.search-input:focus {
						}
						.search-input::placeholder {
						}
					}
				} //.custom-search-form
				.btn-search-close {
					top: 50px;
				}
				.search-info {
					width: 100%;
				}

				.search-related {
					font-size: 80%;
					width: 100%;
					margin-top: 50px;
				}
				.search-suggestion {
					text-align: center;
					width: 100%;
					.title {
					}
				}
				.search-suggestion a {
				}
				.search-suggestion a:after {
				}
			} //.container
		} // #searchPopup
		.search-overlay::after {
		}
		.search-overlay.admin-bar-spacer {
			padding-top: 0px;
			.btn-search-close {
				top: 60px;
			}
		} //.admin-bar-spacer
	} //.search-box
} // max-width 980px;

// Live Search
// improve: too many important used
.searchwp-live-search-results-showing {
	margin-top: -2px;
}

.searchwp-live-search-results {
	border-radius: 0 !important;
	p {
		padding: 1.5em !important;
	}
	a {
		font-family: $title_font !important;
		font-weight: 400 !important;
	}
}

/* Overlay Menu
	 ========================================================================== */

.toggle-menu {
	width: 25px;
	height: 21px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	span.first-line {
		display: block;
		height: 3px;
		width: 100%;
		background: $bgDark;
		position: absolute;
		top: 0px;
	}
	span.second-line {
		display: block;
		height: 3px;
		width: 100%;
		background: $bgDark;
		position: absolute;
		top: 50%;
		margin-top: -1.5px;
	}

	span.third-line {
		display: block;
		height: 3px;
		width: 100%;
		background: $bgDark;
		position: absolute;
		bottom: 0px;
	}
} //.toggle-menu
.toggle-menu.default {
	display: none;
	position: absolute;
	left: 15px;
	top: 50%;
	margin-top: -14px;
}
.overlay-menu {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 100%;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	transition: transform 0.3s;
	transition-delay: 0.4s;
	transition-timing-function: ease-out;
	padding: 0px;
	.row {
		height: 100%;
		margin: 0px;
		.content {
			height: 100%;
			width: 100%;
			padding-left: 45px;
			background: $white;
			overflow-y: scroll;
			position: relative;
			background-position: center;
			background-size: cover;
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background-color: none;
			}
			&::-webkit-scrollbar {
				width: 6px;
			}
			&::-webkit-scrollbar-thumb {
				border-radius: 4px;
				background-color: $bgDark;
				@include transition(all ease 0.3s);
			}
			.site-branding {
				padding-top: 45px;
				margin: 35px 0px;

				.close-overlay-menu {
					display: inline-block;
					cursor: pointer;
					position: absolute;
					right: 35px;
					top: 45px;
					width: 16px;
					height: 16px;
					.first-line {
						position: absolute;
						width: 3px;
						height: 100%;
						transform: rotate(45deg);
						background: $bgDark;
						margin-left: 6px;
					}
					.second-line {
						position: absolute;
						width: 3px;
						height: 100%;
						transform: rotate(-45deg);
						background: $bgDark;
						margin-left: 6px;
					}
				} // close-overlay-menu
				img {
					width: 150px;
				}
			} //.site-branding
			nav {
				margin-top: 45px;
				ul {
					border: none;
					list-style: none;
					margin: 0px;
					padding: 0px;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					li {
						margin: 0px;
						padding: 3px 0px;
						width: 100%;
						@include transition(all ease 0.3s);
						a {
							font-family: $title_font;
							font-size: 21px;
							font-weight: 400;
							color: $textColorDarker;
							text-decoration: none;
							border-style: solid;
							border-color: #333;
							border-width: 0px;
							@include transition(all ease 0.3s);
							a:hover {
								@include transition(all ease 0.3s);
							}
						}
						&:hover {
							@include transition(all ease 0.3s);
							a {
								@include transition(all ease 0.3s);
							}
						}
					} //li
					li.menu-item-has-children {
						a {
							position: relative;
						}
						ul.sub-menu {
							margin: 0px 0px 0px;
							padding: 10px 0px 0px;
							list-style: none;
							display: none;
							li {
								margin: 0px;
								padding: 5px 10px;
							}
						}
					}

					li.menu-item-has-children > a:after {
						content: "";
						position: absolute;
						padding-top: 10px;
						right: -15px;
						top: 9px;
						border: solid $bgDark;
						border-width: 0 2px 2px 0;
						transform: rotate(-45deg);
						display: inline-block;
						padding: 3px;
						cursor: pointer;
						@include transition(all ease 0.3s);
					}
					li.menu-item-has-children:hover {
						ul.sub-menu {
							display: block;
						}
					}
					li.menu-item-has-children:hover > a::after {
						content: "";
						position: absolute;
						padding-top: 10px;
						right: -15px;
						top: 9px;
						border: solid $bgDark;
						border-width: 0 2px 2px 0;
						transform: rotate(45deg);
						display: inline-block;
						padding: 3px;
						cursor: pointer;
						@include transition(all ease 0.3s);
					}
				}
			} // nav
			.overlay-menu-widgets {
				margin-bottom: 60px;
				margin-top: 30px;
				.row {
					.widget {
						.title,
						.widget-title {
							font-family: $title_font;
							font-size: 12px;
							font-weight: 300;
							color: $textColorLight;
							text-transform: uppercase;
							font-weight: normal;
							font-style: normal;
							font-stretch: normal;
							line-height: normal;
							letter-spacing: 2px;
							margin-bottom: 1em;
						} //.title
						ul {
							margin: 0px;
							padding: 0px;
							list-style: none;
							li {
								a {
									font-size: 12px;
									font-weight: normal;
									font-style: normal;
									font-stretch: normal;
									line-height: 1.92;
									letter-spacing: normal;
									color: $textColorDarker;
								}
							}
						}
					} //.widget
				} //.row
			} //.overlay-menu-widgets
		} //.content
		.image {
			background: none;
			background-size: cover;
			background-position: center center;
		}
	} //.row
} //.overlay-menu
.overlay-menu:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	transition: transform 0.3s;
	transition-timing-function: ease-out;
}
.overlay-menu.open {
	pointer-events: auto;
	transform: translate3d(-100%, 0, 0);
	transition-delay: 0s;
}
.overlay-menu.open:after {
	transform: translate3d(100%, 0, 0);
	transition-delay: 0.6s;
}
@media screen and (max-width: 990px) {
	.toggle-menu {
		width: 25px;
		height: 21px;
		position: relative;
		display: inline-block;
		cursor: pointer;
		span.first-line {
			display: block;
			height: 3px;
			width: 100%;
			background: $bgDark;
			position: absolute;
			top: 0px;
		}
		span.second-line {
			display: block;
			height: 3px;
			width: 100%;
			background: $bgDark;
			position: absolute;
			top: 50%;
			margin-top: -1.5px;
		}

		span.third-line {
			display: block;
			height: 3px;
			width: 100%;
			background: $bgDark;
			position: absolute;
			bottom: 0px;
		}
	} //.toggle-menu
	.toggle-menu.default {
		display: block;
	}
	.overlay-menu {
		.row {
			height: 100%;
			.content {
				position: relative;
				.site-branding {
					padding-top: 15px;
					margin: 20px 0px;
					.close-overlay-menu {
						display: inline-block;
						cursor: pointer;
						position: absolute;
						right: 35px;
						top: 45px;
						width: 16px;
						height: 16px;
						.first-line {
							position: absolute;
							width: 3px;
							height: 100%;
							transform: rotate(45deg);
							background: $bgDark;
							margin-left: 6px;
						}
						.second-line {
							position: absolute;
							width: 3px;
							height: 100%;
							transform: rotate(-45deg);
							background: $bgDark;
							margin-left: 6px;
						}
					} // close-overlay-menu
					img {
						width: 150px;
					}
				} //.site-branding
				nav {
					margin-top: 15px;
					ul {
						border: none;
						list-style: none;
						margin: 0px;
						padding: 0px;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						li {
							margin: 0px;
							padding: 15px 0px;
							width: 100%;
							a {
								font-family: "Georiga", "Times New Roman", Times, serif;
								font-size: 18px;
								font-weight: 300;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: $letter_space_regular;
								color: $textColorDarker;
								text-decoration: none;
							}
						} //li
						li.menu-item-has-children {
							span.arrow {
								display: inline-block;
								position: relative;
								align-items: center;
							}
							span.arrow:after {
								content: "";
								position: absolute;
								padding-top: 10px;
								right: -15px;
								top: 11px;
								border: solid $bgDark;
								border-width: 0 2px 2px 0;
								transform: rotate(-45deg);
								display: inline-block;
								padding: 3px;
								cursor: pointer;
								@include transition(all ease 0.3s);
							}
							span.arrow.clicked:after {
								transform: rotate(45deg);
								top: 8px;
								right: -17px;
								@include transition(all ease 0.3s);
							}
							a {
								position: relative;
							}
							ul.sub-menu {
								margin: 0px 0px 0px;
								padding: 10px 0px 0px;
								list-style: none;
								display: none;
								li {
									margin: 0px;
									padding: 5px 10px;
								}
							}
						}

						li.menu-item-has-children > a:after {
							display: none;
						}
						li.menu-item-has-children:hover {
							ul.sub-menu {
								display: none;
							}
						}
						li.menu-item-has-children:hover > a::after {
							display: none;
						}
					}
				} // nav
				.overlay-menu-widgets {
					position: static;
					.row {
						.widget {
							.title {
								font-family: "Open Sans";
								font-size: 12px;
								font-weight: 300;
								color: $textColorLight;
								text-transform: uppercase;
								font-weight: normal;
								font-style: normal;
								font-stretch: normal;
								line-height: normal;
								letter-spacing: 2px;
								margin-bottom: 1em;
							} //.title
							ul {
								margin: 0px;
								padding: 0px;
								list-style: none;
								li {
									a {
										font-size: 12px;
										font-weight: normal;
										font-style: normal;
										font-stretch: normal;
										line-height: 1.92;
										letter-spacing: normal;
										color: $textColorDarker;
									}
								}
							}
						} //.widget
					} //.row
				} //.overlay-menu-widgets
			} //.content
			.image {
				background-size: cover;
				background-position: center center;
			}
		} //.row
	} //.overlay-menu
	.overlay-menu:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		transition: transform 0.3s;
		transition-timing-function: ease-out;
	}
	.overlay-menu.open {
	}
	.overlay-menu.open:after {
		transform: translate3d(100%, 0, 0);
		transition-delay: 0.6s;
	}
	.primary-nav {
		display: none;
	}
}

.elementor-search select,
.elementor-search textarea,
.elementor-search input,
.elementor-search button {
	max-width: 100%;
	min-height: 1.25rem;
	padding: 0.175rem;
	margin: 0;
	background-color: #ffffff;
	font-family: inherit;
	font-weight: 400;
	font-size: 16px;
	color: #333333;
}

.elementor-search input[type="submit"],
.elementor-search input[type="button"],
.elementor-search input[type="reset"],
.elementor-search button {
	min-height: 2.25rem;
	border-radius: 0;
	background-color: #333333;
	color: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.elementor-search input[type="submit"]:hover,
.elementor-search input[type="button"]:hover,
.elementor-search input[type="reset"]:hover,
.elementor-search button:hover {
	opacity: 0.75;
}

.elementor-search select {
	height: 2.25rem;
}

.elementor-search {
	width: calc(331px + 2rem);
	padding: 0.1rem 1rem 0.567rem;
	background-color: #ffffff;
	display: inline-block;
}

/**
 * Search
 */

.elementor-search .search {
	overflow: hidden;
}

.elementor-search .form {
	float: left;
	margin-right: 5px;
	margin-left: -305px;
}
.elementor-search .form input {
	float: left;
}
.elementor-search .form input.input {
	width: 300px;
	padding-right: 2.25rem;
}
.elementor-search .form input.btn {
	width: 2.25rem;
	margin-left: -2.25rem;
	background-color: transparent;
	color: inherit;
}

.elementor-search .label {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.elementor-search .label .order2 {
	order: 2;
}
.elementor-search .label,
.elementor-search .dismiss {
	float: left;
	padding: 10px 1px 0;
	line-height: 1;
	cursor: pointer;
	-webkit-transition: opacity 100ms ease-in-out;
	transition: opacity 100ms ease-in-out;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.elementor-search .label:hover,
.elementor-search .dismiss:hover {
	opacity: 0.75;
}
.elementor-search .label i,
.elementor-search .dismiss i {
	line-height: 2.25rem;
}
.elementor-search .label span,
.elementor-search .dismiss span {
	line-height: 2.25rem;
}

.elementor-search .label span {
	order: 1;
}

.elementor-search .dismiss {
	display: none;
	opacity: 0;
}

/*
 * Overlay NavMenu
 */

#touch-menu {
	display: block;
	cursor: pointer;
	background: none;
	width: 61px;
	height: 52px;
	color: #000;
	right: 20px;
	margin: 0;
	padding: 12px;
	position: absolute;
	top: 15px;
	z-index: 999;
	transition: none;
}
#touch-menu span:after,
#touch-menu span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
	color: #000;
}
#touch-menu span:after {
	top: 9px;
	color: #000;
}
#touch-menu span {
	position: relative;
	display: block;
	top: 12px;
}
#touch-menu span,
#touch-menu span:after,
#touch-menu span:before {
	width: 100%;
	height: 3px;
	background-color: #ffffff;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}
#touch-menu.on,
#touch-menu.on span {
	background-color: transparent;
}
#touch-menu.on span {
	height: 0;
}
#touch-menu.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
	background-color: #fff;
}
#touch-menu.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
	background-color: #fff;
}
.overlay-navigation {
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	font-size: 48px;
	line-height: 1em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	position: fixed;
	width: 100%;
	overflow: auto;
	z-index: 10;
	-webkit-transition: background-color 2s ease-in, opacity 2s ease-in;
	transition: background-color 2s ease-in, opacity 2s ease-in;
}
.overlay-navigation.visible {
	display: block;
	-webkit-transition: background-color 2s ease-in, opacity 2s ease-in;
	transition: background-color 2s ease-in, opacity 2s ease-in;
}
.overlay-navigation > ul,
.overlay-navigation div > ul {
	display: block;
	list-style-type: none;
	margin: 70px auto;
	max-width: 800px;
	padding: 0 15px;
}
.overlay-navigation ul ul {
	display: block;
	margin: 0;
	padding: 0 0 0 20px;
	width: 100%;
}
.overlay-navigation ul li {
	background-color: transparent;
	border: none;
	display: block;
	padding: 10px 0;
}
.overlay-navigation a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
}
.overlay-navigation .sub-menu li {
	padding: 20px 0 0 0;
	font-size: 0.75em;
	line-height: 1em;
}
.overlay-navigation a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 767px) {
	#touch-menu {
		left: auto;
		right: 10px;
		margin: 0;
		top: 10px;
		position: absolute;
		padding: 6px 8px;
		height: 39px;
		width: 50px;
	}
	.overlay-navigation > ul,
	.overlay-navigation div > ul {
		margin: 30px auto;
	}
	.overlay-navigation {
		font-size: 24px;
	}
	.overlay-navigation ul li {
		padding: 8px 0;
	}
	.overlay-navigation .sub-menu li {
		padding: 15px 0 5px;
	}
}

/*
 * MegaMenu Styles
 */

/* Main menu wrapper */
.cbp-hsmenu-wrapper {
	position: relative;
}

/* Common style for all lists */
.cbp-hsmenu-wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

/* 100% width bar for menu */
.cbp-hsinner {
	background-color: #00275e;
	position: relative;
	z-index: 100;
}

.cbp-hsinner {
	font-weight: inherit;
}

/* Main menu style */
.cbp-hsmenu-wrapper .cbp-hsmenu {
	width: 100%;
	max-width: 75em;
	margin: 0 auto;
	padding: 0 0.875em;
}

.cbp-hsmenu > li {
	margin-left: 4em;
	display: inline-block;
}

.cbp-hsmenu > li:first-child {
	margin-left: 0;
}

/* Main menu link style */
.cbp-hsmenu > li > a {
	color: #ffffff;
	font-size: 1em;
	line-height: 3em;
	display: inline-block;
	position: relative;
	z-index: 10000;
	outline: none;
}

.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #f4f4f4;
}

/* Add an arrow to the main menu link if it has a submenu (not the only child) */
.cbp-hsmenu > li > a:not(:only-child):before {
	display: inline-block;
	font-family: "fontawesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	content: "\f107";
	font-size: 80%;
	margin-right: 0.3em;
	opacity: 0.4;
	vertical-align: middle;
}

.cbp-hsmenu > li.cbp-hsitem-open > a:not(:only-child):before {
	content: "\f106";
}

/* Add a triangle to currently open menu item link */
.cbp-hsmenu > li.cbp-hsitem-open > a:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
	border-top-color: #00275e;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}

/* Submenu style */
#cbp-hsmenu-wrapper ul.sub-menu,
.cbp-hssubmenu {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	max-width: 75em;
	width: 100%;
	z-index: 0;
	visibility: hidden;
}
#cbp-hsmenu-wrapper ul.sub-menu:before,
#cbp-hsmenu-wrapper ul.sub-menu:after,
.cbp-hssubmenu:before,
.cbp-hssubmenu:after {
	content: " ";
	display: table;
}
#cbp-hsmenu-wrapper ul.sub-menu:after,
.cbp-hssubmenu:after {
	clear: both;
}

/* Let's allow 6 item in a row */
#cbp-hsmenu-wrapper ul.sub-menu > li,
.cbp-hssubmenu > li {
	width: 16.2%;
	display: inline-block;
	vertical-align: top;
	box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	opacity: 0;
	-webkit-transition: opacity 0.1s 0s;
	-moz-transition: opacity 0.1s 0s;
	transition: opacity 0.1s 0s;
}

/* First 6 items don't have upper box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n + 6),
.cbp-hssubmenu > li:nth-child(-n + 6) {
	box-shadow: -28px 0 0 -27px #ddd;
}

/* Every 7th item does not have a left box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(6n + 1),
.cbp-hssubmenu > li:nth-child(6n + 1) {
	box-shadow: 0 -28px 0 -27px #ddd;
}

/* The first one does not have any box shadow */
#cbp-hsmenu-wrapper ul.sub-menu > li:first-child,
.cbp-hssubmenu > li:first-child {
	box-shadow: none;
}
#cbp-hsmenu-wrapper ul.sub-menu > li a,
.cbp-hssubmenu > li a {
	display: block;
	text-align: center;
	outline: none;
	padding: 2em 1em 1em 1em;
}

#cbp-hsmenu-wrapper ul.sub-menu > li a img,
.cbp-hssubmenu > li a img {
	border: none;
	outline: none;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
#cbp-hsmenu-wrapper .no-touch ul.sub-menu > li a:hover img,
.no-touch .cbp-hssubmenu > li a:hover img {
	opacity: 0.5;
}
#cbp-hsmenu-wrapper ul.sub-menu > li a span,
.cbp-hssubmenu > li a span {
	display: block;
	min-height: 3em;
	margin-top: 0.4em;
}
#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu,
.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
	z-index: 1000;
	visibility: visible;
}
#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu > li,
.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu > li {
	opacity: 1;
	-webkit-transition: opacity 0.5s 0.1s;
	-moz-transition: opacity 0.5s 0.1s;
	transition: opacity 0.5s 0.1s;
}

/* Helper div for animating the background */
.cbp-hsmenubg {
	background: #f7f7f7;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 0;
	height: 0px;
}

.no-touch .cbp-hsmenubg {
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

@media screen and (max-width: 65em) {
	.cbp-hsmenu-wrapper {
		font-size: 80%;
	}
}

@media screen and (max-width: 51.4375em) {
	.cbp-hsmenu-wrapper {
		font-size: 100%;
	}

	.cbp-hsmenu-wrapper .cbp-hsmenu {
		padding: 0;
		max-width: none;
		width: 100%;
	}

	.cbp-hsmenu > li {
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		text-align: center;
		margin: 0 auto;
		display: block;
	}

	.cbp-hsmenu > li:first-child {
		border-top: none;
	}

	.cbp-hsmenu > li > a {
		display: block;
	}

	.cbp-hsmenu > li > a:not(:only-child):before {
		line-height: 1.8;
		right: 0;
		position: absolute;
		font-size: 200%;
	}

	.cbp-hsmenubg {
		display: none;
	}

	#cbp-hsmenu-wrapper ul.sub-menu,
	.cbp-hssubmenu {
		background: #f7f7f7;
		position: relative;
		overflow: hidden;
		height: 0;
	}
	#cbp-hsmenu-wrapper .cbp-hsmenu > li.cbp-hsitem-open ul.sub-menu,
	.cbp-hsmenu > li.cbp-hsitem-open .cbp-hssubmenu {
		height: auto;
	}

	/* Let's only allow 3 item in a row now */
	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hssubmenu > li {
		width: 30%;
	}

	/* Reset box shadows for the 6 items in row case */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n + 6),
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(6n + 1),
	.cbp-hssubmenu > li:nth-child(-n + 6),
	.cbp-hssubmenu > li:nth-child(6n + 1) {
		box-shadow: -28px 0 0 -27px #ddd, 0 -28px 0 -27px #ddd;
	}

	/* First 4 items don't have upper box shadow */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(-n + 3),
	.cbp-hssubmenu > li:nth-child(-n + 3) {
		box-shadow: -28px 0 0 -27px #ddd;
	}

	/* Every 5th item does not have a left box shadow */
	#cbp-hsmenu-wrapper ul.sub-menu > li:nth-child(3n + 1),
	.cbp-hssubmenu > li:nth-child(3n + 1) {
		box-shadow: 0 -28px 0 -27px #ddd;
	}
}

@media screen and (max-width: 25em) {
	/* Let's only allow 1 item in a row now */
	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hssubmenu > li {
		width: 100%;
		display: block;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li,
	.cbp-hsmenu-wrapper .cbp-hssubmenu > li {
		box-shadow: 0 1px #cecece;
		text-align: left;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a,
	.cbp-hssubmenu > li a {
		text-align: left;
		line-height: 50px;
		padding: 0.4em 1em;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a img,
	.cbp-hssubmenu > li a img {
		display: none;
	}

	#cbp-hsmenu-wrapper ul.sub-menu > li a span,
	.cbp-hssubmenu > li a span {
		min-height: 0;
		margin: 0;
	}
}

/*
 * Support for MegaMenu's description.
 */

.menu-item-description {
	display: block;
	text-transform: uppercase;
	font-size: 0.55rem;
}

.menu-item-object-custom .menu-item-description i:before {
	font-size: 1.15em;
	position: relative;
	top: 0;
	margin-right: 0px;
	margin-left: 2px;
}

/*
 * Branding support
 */

.elementor-branding .custom-logo-link {
	padding: 0;
	float: none;
}

// Nav Menu

ul.mini-menu {
	margin: 0;
}

.mini-menu a {
	@include transition(color ease 0.2s);
	position: relative;
	text-decoration: none;
	color: $textColorDarker;
}
.mini-menu a::after {
	content: "";
	z-index: 0;
	width: 100%;
	bottom: -4px;
	left: 0;
	position: absolute;
	height: 1px;
	background: $textColorDarker;
	transform: scale3d(0, 1, 1);
	transform-origin: 0% 50%;
	transition: transform 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.mini-menu a:hover::after {
	transform: scale3d(1, 1, 1);
}

ul.mini-menu li a {
	font-family: $title_font;
	font-weight: 600;
	letter-spacing: $letter_space_small;
}

ul.mini-menu > li {
	padding: 0 13px;
}

ul.mini-menu li ul {
	padding: 20px 0px 20px 0;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

ul.mini-menu li ul li {
	padding-right: 40px;
	line-height: 1;
	position: relative;
	width: 100%;
}

ul.mini-menu li ul li a {
	width: 100%;
	display: inline-block !important;
	padding: 10px 0px;
	font-size: 13px;
}

.mini-menu li {
	position: relative;
	display: inline-block;
}

.mini-menu li:last-child {
	margin-right: 0;
}

.mini-menu li ul li {
	display: block;
}

.mini-menu ul {
	position: absolute;
	display: none;
	left: 0px;
	top: calc(100% + 1px);
	z-index: 999999;
	width: auto;
	white-space: nowrap;
	padding: 0;
	margin-left: 0px;
	text-align: left;
	border-top-style: solid;
}

.mini-menu li ul li {
	width: 100%;
}

.mini-menu li ul li a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.mini-menu ul li ul {
	top: 0;
	left: 100%;
}

.mini-menu li:hover > ul {
	display: block;
}

.mini-menu ul ul {
	display: none;
}

/* Normal Dropdown Menu */
.stories-menu {
	border-style: solid;
}
.stories-menu-close {
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: translate3d(0, 17px, 0);
	-webkit-transform: translate3d(0, 17px, 0);
	-moz-transform: translate3d(0, 17px, 0);
	visibility: hidden;
}

.stories-menu-open {
	opacity: 1;
	transform: translate3d(0, -1px, 0);
	-webkit-transform: translate3d(0, -1px, 0);
	-moz-transform: translate3d(0, -1px, 0);
	visibility: visible !important;
}
