.newsletter {
	.newsletter-link {
		a {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: 12px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: $letter_space_bigger;
			color: $mainColor;
			background: none;
			border: none;
		}
	} //.newsletter-button
	.newsletter-button {
		button {
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;
			font-size: 12px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: $letter_space_bigger;
			color: $mainColor;
			background: none;
			border: none;
			cursor: pointer;
			padding: 0px;
		}
	} //.newsletter-button
	.newsletter-overlay {
		display: none;
		background: $white;
		position: absolute;
		top: 100%;
		z-index: 9998;
		padding: 34px;
		p.title {
			font-size: 32px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.16;
			letter-spacing: $letter_space_smaller;
			color: $textColorDarker;
			margin: 0px 0px 27px;
		}
		.newsletter-form {
			.checkbox.error {
				color: red;
				text-decoration: underline;
				font-size: 14px;
				@include transition(all ease 0.4s);
			}
			label.terms {
				font-family: Georgia;
				font-size: 13px;
				font-weight: normal;
				font-style: italic;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: $textColorLight;
				cursor: pointer;
				margin-top: 17px;
				position: static;
				display: block;
			}
		}
	} //.newsletter-overlay
}

.newsletter-input {
	position: relative; // Input Focus
	label {
		position: absolute;
		font-size: 15px;
		line-height: 1;
		letter-spacing: $letter_space_smaller;
		color: $textColorRegular;
		top: 0px;
		left: 10px;
		@include transition(all ease 0.3s);
		padding: 17px 17px 17px 7px;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	label.focused {
		top: -14px;
		padding: 9px;
		@include transition(all ease 0.4s);
		background: #fff;
		font-size: 11px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: $letter_space_smaller;
		color: $mainColor;
		height: 25px;
	}
	input {
		width: 100%;
		border: solid 1px $textColorLight;
		padding: 17px;
		position: relative;
		z-index: 1;
		line-height: 1;
		@include transition(all ease 0.3s);
		&:focus {
			border-color: $mainColor;
		}
	}
	input.error {
		border-color: red;
		@include transition(all ease 0.3s);
	}
	button {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 100%;
		border: none;
		// background:$mainColor;
		cursor: pointer;
		line-height: 1;
		padding: 17px 21px;
		z-index: 4;
		svg {
			width: 22px;
			height: 16px;
			color: #fff;
			g {
				color: #fff;
				fill: #fff;
			}
		}
	} //button
}
