.seperator-widget {
	margin:0px 10px;
	
	i.slash {
		display:block;
		width:100%;
		height:100%;
		position:relative;
		&:after {
			content: "";
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			border-left:1px solid;
			border-color: $textColorLight;  transform: rotate(20deg);
			opacity:50%;
		}
	}
	
	i.line {
		display:block;
		width:100%;
		height:100%;
		position:relative;
		&:after {
			content: "";
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			border-left:1px solid;
			border-color: $textColorLight;
		}
	}
	
	i.dots {
		display:block;
		width:100%;
		height:100%;
		position:relative;
		&:after {
			content: "";
			position:absolute;
			left:0px;
			top:0px;
			width:100%;
			height:100%;
			border-left:1px dotted;
			border-color: $textColorLight;
		}
	}
}