.social-media {
	ul.social-media-list {
		list-style:none;
		margin:0px;
		padding:0px;
		li {
			float:left;
			margin-right:10px;
			button {
				color: $textColorDarker;
				background:none;
				padding:0px;
				outline:none;
				border:none;
				cursor:pointer;  
				font-size: 20.5px; 
				line-height: 1.25;
				letter-spacing: 6.6px; 
			}
			a { 
				font-size: 20.5px; 
				line-height: 1.25;
				letter-spacing: 6.6px;
				color: $textColorDarker;
			}
			ul.social-media-list-more {
				display:none;
				list-style:none;
				position:absolute;
				background:$white;
				padding:7px 20px;
				margin:0px;
				z-index:4;
				li {
					width:100%;
					margin:10px 0px;
				}
			}
		} 
		li.more {
			position:relative;
		}
	}
}