.bypostauthor {
	display: block;
}

.comment-form-cookies-consent label {
	padding-left: 10px;
}

.comment-heading .comment-heading-icon svg {
	width: 16px;
}

.comment-respond h3 {
	margin-bottom: 5px;
}

.comment-notes {
	font-size: 12px;
	display: inline-block;
}
