// Page

.page-title {
	margin-bottom: 30px;
}

.single-small-container {
	max-width: 530px;
	margin: 0 auto;
}

// Featured image

.single-featured-image {
	padding-bottom: 60px;
}

.post-category-reading-container {
	display: flex;
	align-content: center;
}

.post-category-reading-container .jeg_post_category {
	margin-bottom: 0;
}

.post-category-reading-container .jeg_post_category a {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: $letter_space_bigger;
	margin-right: 0;
}

.jeg_post_reading_time {
	align-self: center;
	color: $textColorRegular;
	fill: $textColorRegular;
}

.post-category-reading-container .jeg_post_reading_time {
	padding-left: 30px;
}

// Seperator

.seperator-container {
	display: flex;
}

.seperator-container svg {
	display: inline-block;
}

.solid {
	display: inline-block;
	width: 60px;
	height: 1px;
}

.seperator-solid.normal .solid {
	height: 2px;
}

.seperator-solid.big .solid {
	height: 3px;
}

.seperator-solid.bigger .solid {
	height: 5px;
}

.three-dot {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin: 0 10px;
	background-color: $textColorDarker;
}

.seperator-three-dot.thin .three-dot {
	height: 2px;
	width: 2px;
	margin: 0 6px;
}

.seperator-three-dot.big .three-dot {
	height: 5px;
	width: 5px;
	margin: 0 13px;
}
.seperator-three-dot.bigger .three-dot {
	height: 8px;
	width: 8px;
}

// Category

.single .jeg_meta_category {
	margin-bottom: 15px;
}

.single .jeg_meta_category a {
	color: $mainColor;
	font-size: 14px;
}

// Post Meta

.default-single .jeg_post_meta {
	margin-top: 30px;
	margin-bottom: 40px;
	display: inline-block;
}

.jeg_meta_comment svg {
	width: 14px;
}

.jeg_custom_meta_wrapper.center {
	display: flex;
	justify-content: center;
}

.jeg_custom_meta_wrapper.vertical .meta_left div {
	display: block;
	margin-bottom: 12px;
}

.jeg_custom_meta_wrapper.vertical .meta_label {
	font-size: 11px;
	display: block;
	margin-bottom: 5px;
	font-weight: 600;
	opacity: 0.6;
	letter-spacing: $letter_space_big;
}

.jeg_custom_meta_wrapper.vertical.line .meta_left div {
	border-bottom: solid 1px rgba(#000, 0.2);
	padding-bottom: 11px;
}

.jeg_custom_meta_wrapper.vertical.center {
	text-align: center;
}

.jeg_custom_meta_wrapper.vertical .meta_left .jeg_meta_date:before {
	display: none;
}

// Author Box

.jeg_authorbox {
	background: #fff;
	border-top: solid 4px $bgDark;
	padding: 40px 15%;
	height: auto;
}

.jeg_authorbox h6 {
	color: $textColorLighter;
	margin-bottom: 25px;
}

.jeg_authorbox .more_link {
	display: block;
}

.jeg_author_image {
	width: 84px;
	float: left;
	height: auto;
}

.jeg_author_image img {
	border-radius: 100%;
	width: 67px;
	height: 67px;
}

.jeg_author_socials {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 30px 0 10px;
}

.jeg_author_socials a {
	width: 50%;
	height: 25px;
	display: flex;
	justify-content: center;
}

.jeg_author_socials svg {
	height: 12px;
	max-width: 15px;
	display: inline-block;
}

.jeg_author_socials svg path {
	fill: $textColorLight;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.jeg_author_socials svg:hover path {
	fill: $textColorDarker;
}

.jeg_author_content {
	float: left;
	width: calc(100% - 84px);
	font-size: 14px;
	color: $textColorRegular;
}

.jeg_author_content h5 {
	margin-bottom: 10px;
}

.jeg_authorbox_bottom {
	margin-top: 30px;
	padding-top: 30px;
	border-top: solid 1px $lightBorder;
}

.jeg_authorbox_bottom .author_other_post ul {
	margin: 0 0 0 18px;
	color: $textColorRegular;
}

.jeg_authorbox_bottom .author_other_post a {
	color: $textColorRegular;
	font-size: 14px;
	font-weight: 400;
}

// Prev & Next Post

.jeg_prev_next_post {
	background: #fff;
	width: 225px;
	padding: 40px 30px;
}

.jeg_prev_next_post h5 {
	color: $textColorRegular;
}

.jeg_prev_next_post h6 {
	font-size: 11px;
	color: $textColorLighter;
	margin-bottom: 0;
}

.jeg_prev_next_post .prev_text_title {
	margin: 5px 0;
}

.jeg_prev_next_post .prev_text_icon svg {
	width: 20px;
	transition: all 0.2s ease-in-out;
}

.jeg_prev_next_post:hover .prev_text_icon svg {
	transform: scale(1.2);
}

.jeg_prev_next_post .prev_text_icon svg path {
	fill: $bgRegular;
}

.jeg_prev_post .prev_text_icon svg {
	transform: rotate(90);
}

// Comment

.comment-heading {
	margin-top: 30px;
	padding-bottom: 15px;
	border-bottom: solid 1px $lighterBorder;
	display: flex;
	cursor: pointer;
}

.comment-heading h5 {
	font-weight: 500;
}

.comment-heading .comment-expand {
	margin-left: auto;
}

.comment-expand i {
	font-size: $small_font;
	color: $textColorRegular;
}

.comment-info-top {
	display: flex;
	align-items: center;
}

.comment-info-top .date {
	margin-left: 15px;
	font-family: $title_font;
	font-size: $small_font;
	color: $textColorLight;
}

.author h5 {
	margin: 0;
	margin-left: 15px;
}

.comment-area-box {
	position: relative;
	margin-top: 10px;
	padding: 30px;
	background: #ffffff;
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
}

ol.comment-list {
	margin-top: 30px;
	list-style: none;
}

.comments-area {
	display: none;
}

.comments-title i {
	padding-right: 5px;
}

ol.comment-list ul {
	list-style: none;
}

ol.comment-list > li,
ol.comment-list > ul li {
	margin-bottom: 30px;
}

ul.children {
	margin-left: 25px;
}

.comment-respond {
	margin-top: 20px;
}

ol.comment-list li:last-child {
	margin-bottom: 0;
}

.logged-in-as,
.logged-in-as a {
	font-size: $small_font;
	font-family: $title_font;
	color: $textColorLight;
}

.comment-content {
	font-size: 13px;
	color: $textColorRegular;
	box-sizing: border-box;
	width: 100%;
}

.comment-text {
	display: flex;
}

.comment-tools {
	position: absolute;
	right: 0;
	bottom: 0;
	background: $lightestBorder;
	padding: 10px 12px;
}

.comment-tools h6 {
	font-size: 9px;
	color: $textColorDark;
	letter-spacing: $letter_space_big;
}

.post-tags {
	text-align: center;
	margin-bottom: 40px;
}

.post-tags,
.post-tags a {
	color: $bodycolor;
	border: 0;
}

.post-tags a {
	margin-right: 15px;
}

.post-tags span {
	font-weight: 700;
	margin-right: 20px;
}

.single.stories-seperator {
	margin-bottom: 60px;
}

.post-nav-with-author {
	display: flex;
	align-items: center;
	@include large {
	}
	@include small-medium {
		flex-wrap: wrap;
	}
	.jeg_custom_next_wrapper,
	.jeg_custom_prev_wrapper {
		margin-top: 60px;
		@include small-medium {
			order: 1;
		}
		@include small {
			display: none;
		}
	}
}

// Review

.review-box {
	box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
	border-top: solid 4px $black;

	.review-header {
		display: flex;
		padding: 30px;
		align-items: center;
		padding-bottom: 0;
		.review-header-right {
			text-align: center;
			margin-left: auto;
		}
	}

	.review-criteria-list {
		padding-top: 0;
		padding: 30px;
		color: $textColorRegular;
	}

	hr {
		background-color: $lightestBorder;
	}

	.pros-cons {
		display: flex;
		padding: 30px;
	}
}

.pros-cons {
	h6 {
		margin-bottom: 15px;
	}
	ul {
		list-style: none;
		padding-left: 10px;
		font-size: $small_font;
		font-weight: 500;
		color: $textColorRegular;
		border-left: 3px solid;
	}
}

.pros {
	flex: 1;
	h6 {
		color: #66cb00;
	}
	ul {
		border-color: rgba(#66cb00, 0.3);
	}
}

.cons {
	flex: 1;
	h6 {
		color: #df1c34;
	}
	ul {
		border-color: rgba(#df1c34, 0.3);
	}
}

.review-header-left h3 {
	font-size: 26px;
}

.review-total-score {
	font-size: 40px;
	font-weight: 700;
}

.review-total-text {
	font-size: $small_font;
	color: $textColorLight;
	margin-top: -8px;
}

.criteria-area {
	display: flex;
	border-bottom: solid 1px $lightestBorder;
	line-height: 3;
	font-size: 14px;
	&:last-child {
		border: 0;
	}
	.criteria-text {
		flex-basis: 1;
		flex-grow: 3;
	}
	.criteria-score {
		flex-basis: 40px;
	}

	.criteria-bar-background {
		flex-grow: 2;
		display: flex;
		.bar-line {
			flex: 1;
			height: 2px;
			margin-right: 8px;
			background: $lightestBorder;
		}
		.bar-line:last-child {
			margin-right: 0;
		}
	}
}
