@charset "UTF-8";

@font-face {
  font-family: "stories";
  src:url("fonts/stories.eot");
  src:url("fonts/stories.eot?#iefix") format("embedded-opentype"),
    url("fonts/stories.woff") format("woff"),
    url("fonts/stories.ttf") format("truetype"),
    url("fonts/stories.svg#stories") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "stories" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "stories" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-messenger:before {
  content: "\69";
}
.icon-facebook:before {
  content: "\6a";
}
.icon-foursquare:before {
  content: "\6b";
}
.icon-globe:before {
  content: "\6c";
}
.icon-instagram:before {
  content: "\71";
}
.icon-linkedin:before {
  content: "\74";
}
.icon-reading-time:before {
  content: "\4c";
}
.icon-search-default:before {
  content: "\52";
}
.icon-trending:before {
  content: "\37";
}
.icon-trending-alt:before {
  content: "\39";
}
.icon-trending-alt-2:before {
  content: "\22";
}
.icon-arrow-thing-right:before {
  content: "\2b";
}
.icon-search-thin:before {
  content: "\3a";
}
.icon-comment-alt-regular:before {
  content: "\7d";
}
.icon-search-thin-creative:before {
  content: "\62";
}
