$mobile_width: 575px;
$tablet_width: 768px;
$desktop_width: 991px;

// Global

@mixin small {
	@media (max-width: #{$mobile_width}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{$mobile_width + 1}) and (max-width: #{$desktop_width}) {
		@content;
	}
}

@mixin small-medium {
	@media (max-width: #{$desktop_width}) {
		@content;
	}
}

@mixin medium_only {
	@media (min-width: #{$mobile_width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$desktop_width}) {
		@content;
	}
}
