// Fonts
$main_font: "Merriweather", sans-serif;
$title_font: "HK Grotesk", sans-serif;
$helper_title_font: "Playfair Display", sans-serif;

// Font Size

$small_font: 13px;

// Line Heights
$bigger_line_height: 2;
$big_line_height: 1.7;
$line_height: 1.5;
$small_line_height: 1.3;
$smaller_line_height: 1.15;

// Letter Spacing
$letter_space_bigger: 1.4px; // Generaly used for small fonts
$letter_space_big: 1px;
$letter_space_regular: 0.6px;
$letter_space_small: 0.4px;
$letter_space_smaller: 0.2px;
