$black: #000;
$white: #fff;

$bodycolor: #131313;

/** Background Colors **/
$mainColor: #4639e0; // Main Color of The Site
$bgDark: #131313;
$bgRegular: #888;
$bgScnd: #d8d4d1;
$bgLight: #bbb;
$bgLighter: #eee;
$white: #fff;

/* Line Colors */
$lightestBorder: #eee;
$lighterBorder: #ddd;
$lightBorder: #ebebeb;
$RegularBorder: #aaa;
$DarkBorder: #555;

/* Text Colors */
$textColorDarker: #131313;
$textColorDark: #333;
$textColorRegular: #555;
$textColorLight: #888;
$textColorLighter: #aaa;
